<div class="row" *ngIf="showToolbar()">
  <div class="col ml-auto">
    <a class="btn btn-outline-primary float-right" [routerLink]="['manage']">
      <i class="fa fa-cog"></i>
      <span class="d-sm-none d-md-inline">Gerenciar Personagens</span>
    </a>
  </div>
</div>

<section class="row" *ngIf="campaign">
  <div class="col-sm-12 col-md-6 col-lg-6"
      *ngFor="let character of characters">
    <character-card [character]="character"
      [showPlayer]="true"></character-card>
  </div>
</section>
