<div class="card">
  <div class="card-header">
    <p class="card-title">Classe de Armadura</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-hit-points">Base</label>
          <input class="form-control form-control-sm" type="text"
            id="character-hit-points" value="10"
            readonly>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-hit-points">Destreza</label>
          <input class="form-control form-control-sm" type="text"
            id="character-hit-points"
            readonly>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-hit-points">Armadura</label>
          <input class="form-control form-control-sm" type="text"
            id="character-hit-points"
            readonly>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-hit-points">Raça</label>
          <input class="form-control form-control-sm" type="text"
            id="character-hit-points"
            readonly>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-hit-points">Outros</label>
          <input class="form-control form-control-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-hit-points">Total</label>
          <input class="form-control form-control-sm" type="text"
            id="character-hit-points"
            readonly>
        </div>
      </div>
    </div>
  </div>
</div>
