<div class="card" [formGroup]="noteForm">
  <div class="card-body input-group">
    <textarea class="form-control"
      rows="4"
      resize="off"
      formControlName="description"></textarea>
  </div>

  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <label class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox"
            formControlName="dm_only">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Material do Mestre</span>
      </label>
      <a class="text-danger pointer" (click)="remove()">
        <i class="fa fa-trash-o"></i> Remover
      </a>
    </div>
  </div>
</div>
