<section class="page" *ngIf="campaign">
  <header>
    <div class="d-flex justify-content-between">
      <a class="mr-2" [routerLink]="['../']">
        <i class="fa fa-arrow-left"></i> Voltar
      </a>

      <a [routerLink]="['edit']" *ngIf="isCampaignOwner()">
        <i class="fa fa-edit"></i> Editar Página
      </a>
    </div>

    <small class="mr-2">{{page?.page_category?.title}}/</small>
    <h2 class="title page-title">{{page?.title}}</h2>
  </header>

  <article *ngIf="page">
    <htmlOutlet [html]="compileText(page.body)"></htmlOutlet>
  </article>
</section>
