<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <h2 class="title">Campanhas</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4"
      *ngFor="let campaign of campaigns">
    <a class="card" [routerLink]="[campaign.id]">
      <img class="card-img-top" [src]="campaign.picture" [alt]="campaign.title">
      <div class="card-body">
        <h4 class="card-title">{{campaign.title}}</h4>
        <p class="card-text">{{campaign.characters.length}} personagens</p>
        <p class="card-text">{{campaign.description}}</p>
      </div>
    </a>
  </div>
</div>
