<article class="user-card">
  <a class="user-header" [routerLink]="['/users/profile', user.id]">
    <div class="user-avatar">
        <img [src]="avatar(user.email)" [alt]="user.name" />
    </div>
    <div class="user-body">
      <div class="user-name">
          <span>{{user?.name}}</span>
      </div>
      <small class="user-title">{{user.title}}</small>
      <small class="user-text">{{user.email}}</small>
    </div>
  </a>
  <div class="user-info" *ngIf="showRole">
    <span class="user-info-item">
      <b>Perfil:</b> {{user?.role?.name}}
    </span>
  </div>
</article>
