<table class='table table-striped table-hover table-sm'>
  <thead>
    <tr>
      <th class="text-center">Nível</th>
      <th class="text-center">Experiência</th>
      <th class="text-center">Dados de Vida</th>
      <th class="text-center">Base de Ataque</th>
      <th class="text-center">Proteção</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evo of characterClass.evolutions">
      <td class="text-center">{{evo.level}}</td>
      <td class="text-center">{{evo.exp}}</td>
      <td class="text-center">
        <i *ngIf="!evo.plus_life">{{evo.life_amount}}</i>
        <i *ngIf="evo.plus_life">+{{evo.life_amount}} P.V.</i>
      </td>
      <td class="text-center">
        <span *ngIf="evo.attack_base > 0">+{{evo.attack_base}}</span>
        <span *ngIf="evo.attack_base2 > 0">/+{{evo.attack_base2}}</span>
      </td>
      <td class="text-center">{{evo.protection_mod}}</td>
    </tr>
  </tbody>
</table>
