<div class="row">
  <div class="col-sm-12">
    <h4 class="title">Personagens</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-deck">
      <a class="card" *ngFor="let character of campaign.characters">
        <img class="card-img-top" [src]="character.picture"
          [alt]="character.name">
        <div class="card-block px-3">
          <h4 class="card-title">{{character.name}}</h4>
          <small class="card-text">{{character.title}}</small>
          <small class="card-text">
            {{character?.race?.name}}
          </small>
          <small class="card-text">
            {{character?.class?.name}} ({{character?.specialization?.name}})
          </small>
          <small class="card-text">
            {{character?.description}}
          </small>
        </div>
      </a>
    </div>
  </div>
</div>
