<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-3">
    <div class="card">
      <img class="card-img-top" [src]="avatar" [alt]="user?.name">
      <div class="card-body">
        <h3 class="card-title">{{user?.name}}</h3>
        <small class="card-text">
          <b>Perfil:</b> {{user?.role?.name}}
        </small>
        <small class="card-text">
          <b>E-mail:</b> {{user?.email}}
        </small>
        <small class="card-text">
          <b>Último acesso em:</b> {{user?.last_login | date }}
        </small>
      </div>
      <div class="card-footer" *ngIf="canChange">
        <router-link classes="card-link" path="settings">
          <i class="fa fa-cog"></i> Opções
        </router-link>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-9">
    <h2 class="title">Criações</h2>
    <div class="card">
      <div class="card-header">
        <nav class="nav nav-tabs nav-fill card-header-tabs">
          <a class="nav-link text-center pointer active">
            <i class="fa fa-book"></i> Campanhas
          </a>
          <a class="nav-link text-center pointer">
            <i class="fa fa-users"></i> Personagens
          </a>
        </nav>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</div>
