<layout-base *ngIf="user" [pageTitle]="user.name">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="card">
        <img class="card-img-top" [src]="avatar" [alt]="user?.name">
        <div class="card-body">
          <small class="card-text">
            <b>Perfil:</b> {{user?.role?.name}}
          </small>
          <small class="card-text">
            <b>E-mail:</b> {{user?.email}}
          </small>
          <small class="card-text">
            <b>Último acesso em:</b> {{user?.last_login | date }}
          </small>
        </div>
        <div class="card-footer" *ngIf="canChange">
          <router-link classes="card-link" path="settings">
            <i class="fa fa-cog"></i> Opções
          </router-link>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-9">
      <h2 class="title">Criações</h2>

      <user-campaigns></user-campaigns>
      <user-characters></user-characters>
      <user-campaign-invitations [user]="user"></user-campaign-invitations>
    </div>
  </div>
</layout-base>
