<form class="form-inline" [formGroup]="invitationForm"
    (ngSubmit)="acceptInvitation(invitationForm)">
  <input type="hidden" formControlName="id">
  <label class="mr-sm-2" for="character_id">Personagem</label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="character_id"
      formControlName="character_id">
    <option value="" selected>Escolha um personagem</option>
    <option *ngFor="let character of userCharacters" [value]="character.id">
      {{character.name}}
    </option>
  </select>

  <button class="btn btn-primary mr-sm-2" type="submit"
      [disabled]="invitationForm.invalid">
    <i class="fa fa-check"></i> Aceitar
  </button>
  <button class="btn btn-danger mr-sm-2" type="button"
      (click)="denyInvitation()">
    <i class="fa fa-ban"></i> Recusar
  </button>
</form>
