<article class="character-card {{character?.status?.alignment?.style}}">
  <a class="character-header" [routerLink]="['/main/characters', character.id]">
    <div class="character-avatar">
        <img [src]="character.picture" [alt]="character.name" />
    </div>
    <div class="character-body">
      <div class="character-name d-flex justify-content-between">
          <span>{{character.name}}</span>
          <span>{{character?.status?.current_level}}</span>
      </div>
      <small class="character-title">{{character.title}}</small>
      <small class="character-text">
        {{character?.race?.singular_name}} /
        {{character?.class?.name}} /
        {{character?.specialization?.name}}
      </small>
    </div>
  </a>
  <div class="character-info">
    <a class="character-info-item" *ngIf="showPlayer"
        [routerLink]="['/users/profile', character.player.id]">
      <b>Jogador:</b> {{character?.player?.name}}
    </a>
    <div class="character-info-item">
      <div class="row no-gutters text-center justify-content-end align-items-end">
        <div class="col">
          <h6><b>FOR</b></h6>
          <h6>
            {{character?.status?.strength}}
            <span>({{getModifier(character?.status?.strength)}})</span>
          </h6>
        </div>
        <div class="col">
          <h6><b>DES</b></h6>
          <h6>
            {{character?.status?.dexterity}}
            <span>({{getModifier(character?.status?.dexterity)}})</span>
          </h6>
        </div>
        <div class="col">
          <h6><b>CON</b></h6>
          <h6>
            {{character?.status?.constitution}}
            <span>({{getModifier(character?.status?.constitution)}})</span>
          </h6>
        </div>
        <div class="col">
          <h6><b>INT</b></h6>
          <h6>
            {{character?.status?.intelligence}}
            <span>({{getModifier(character?.status?.intelligence)}})</span>
          </h6>
        </div>
        <div class="col">
          <h6><b>SAB</b></h6>
          <h6>
            {{character?.status?.wisdom}}
            <span>({{getModifier(character?.status?.wisdom)}})</span>
          </h6>
        </div>
        <div class="col">
          <h6><b>CAR</b></h6>
          <h6>
            {{character?.status?.charisma}}
            <span>({{getModifier(character?.status?.charisma)}})</span>
          </h6>
        </div>
      </div>
    </div>
  </div>
</article>
