<layout-base *ngIf="characterRace" [pageTitle]="characterRace.name"
    [cover]="characterRace.picture"
    [description]="characterRace.short_description">
  <section class="row">
    <div class="col-sm-5 col-md-4">
      <div class="card bg-dark text-white">
        <img class="card-img"
          [src]="characterRace.example_picture"
          [alt]="characterRace.name">
      </div>

      <race-attributes [race]="characterRace"></race-attributes>
    </div>
    <div class="col-sm-7 col-md-8">
      <race-lore [race]="characterRace"></race-lore>

      <race-traits [race]="characterRace"></race-traits>

      <race-skills [race]="characterRace"></race-skills>
    </div>
  </section>
</layout-base>
