<div class="layout-base">
  <div class="container">
    <div class="content">
      <header class="d-flex align-items-middle justify-content-center flex-column"
          [ngClass]="{'animated': animatedHeader}"
          [ngStyle]="coverImage">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <ng-content select=".layout-controls"></ng-content>
      </header>
      <ng-content select=".layout-toolbar"></ng-content>
      <main>
        <ng-content></ng-content>
      </main>
    </div>
  </div>
</div>
