<div class="layout-base">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark transparent"
      *ngIf="isAuthenticated">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarTogglableContent">
        <ul class="navbar-nav menu-navigation d-flex flex-row">
          <li class="nav-item" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/main/campaigns">
              <layout-navigation-item icon="ra ra-gear-hammer"
                text="Campanhas"></layout-navigation-item>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/main/modifiers">
              <layout-navigation-item icon="ra ra-book"
                text="Modificadores"></layout-navigation-item>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/main/characters">
              <layout-navigation-item icon="ra ra-knight-helmet"
                text="Personagens"></layout-navigation-item>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/main/characters/classes">
              <layout-navigation-item icon="ra ra-crossed-swords"
                text="Classes"></layout-navigation-item>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/main/characters/races">
              <layout-navigation-item icon="ra ra-skull"
                text="Raças"></layout-navigation-item>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/main/characters/specializations">
              <layout-navigation-item icon="ra ra-archer"
                text="Especializações"></layout-navigation-item>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/users">
              <layout-navigation-item icon="fa fa-group"
              text="Usuários"></layout-navigation-item>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/example">
              <layout-navigation-item icon="fa fa-object-group"
              text="Templates"></layout-navigation-item>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="content">
      <header class="d-flex justify-content-between flex-column"
          [ngClass]="{'animated': animatedHeader}"
          [ngStyle]="coverImage">
        <layout-breadcrumb class="align-self-start"></layout-breadcrumb>
        <span class="information">
          <h1>{{title}}</h1>
          <p>{{description}}</p>
        </span>
        <ng-content select=".layout-controls"></ng-content>
      </header>
      <ng-content select=".layout-toolbar"></ng-content>
      <main>
        <ng-content></ng-content>
      </main>
    </div>
  </div>
</div>
