
<form *ngIf="isFormReady()" [formGroup]="pageForm"
    (ngSubmit)="onSubmit(pageForm)">

  <div class="form-group row">
    <div class="col-sm-12 col-md-10 ml-auto">
      <h2>Editor de páginas</h2>
    </div>
  </div>

  <input type="hidden" formControlName="id">
  <section>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" for="pageTitle">
        Título da Página
      </label>
      <div class="col-sm-10 col-md-6">
        <input class="form-control form-control-lg"
          type="text"
          id="pageTitle"
          [ngClass]="getErrorClass('title')"
          formControlName="title">
        <div class="invalid-feedback">
          Informe um título válido para a página.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" for="pagePicture">
        Imagem de Capa
      </label>
      <div class="col-sm-10 col-md-6">
        <input class="form-control"
          type="url"
          id="pagePicture"
          [ngClass]="getErrorClass(pageForm.controls.picture)"
          formControlName="picture">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" for="pageCategory">
        Categoria
      </label>
      <div class="col-sm-10 col-md-6">
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0"
            id="pageCategory"
            [ngClass]="getErrorClass(pageForm.controls.category)"
            formControlName="category">
          <option value="" selected>Escolha uma categoria</option>
          <option *ngFor="let category of pageCategories"
              [value]="category.flat_name">
            {{category.title}}
          </option>
        </select>
        <div class="invalid-feedback">
          Informe uma categoria válida para a página.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right">
        Opções
      </label>
      <div class="col-sm-10 col-md-6">
        <label class="custom-control custom-checkbox">
          <input class="custom-control-input" type="checkbox"
              formControlName="dm_only">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Material do Mestre</span>
        </label>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" for="pageBody">
        Texto
      </label>
      <div class="col-sm-10">
        <markdown-editor formControlName="body"
            placeholder="Descrição da Campanha">
        </markdown-editor>
        <div class="invalid-feedback">
          Corpo do texto da página válido.
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="form-group row">
      <div class="ml-auto col-6">
        <button class="btn btn-primary" type="submit"
            [disabled]="pageForm.invalid">
          <i class="fa fa-edit"></i> Salvar
        </button>
        <button class="btn btn-outline-secondary pointer" type="button"
            (click)="goBack()">
          <i class="fa fa-remove"></i> Cancelar
        </button>
      </div>
      <div class="ml-auto col-2 text-right">
        <button class="btn btn-outline-danger pointer"
            type="button"
            *ngIf="canDestroy()"
            mwlConfirmationPopover
            title="Confirmação necessária"
            message="Deseja realmente deletar a página?"
            placement="left"
            confirmText="Excluir"
            cancelText="Cancelar"
            (confirm)="destroyPage()">
          <i class="fa fa-trash"></i> Excluir Página
        </button>
      </div>
    </div>
  </section>
</form>
