.user, .user-list {
  display: block;
  float: left;
  width: 100%;
  border: none;
  border-radius: .5em;
}

.user {
  margin: 0;
  margin-bottom: .8em;
  padding: .5em;
  border: none;
  background-color: #FFF;
  border-radius: .5em;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);

  .user-img {
    display: block;
    float: left;
    width: 70px;
    min-height: 70px;
    padding: 3px;
    width: 64px;
    height: 64px;

    img {
      margin: 0 auto;
    }
  }

  .user-content {
    display: block;
    float: left;
    width: calc(100% - 70px);
    min-height: 70px;

    .user-name {
      display: block;
      float: left;
      width: 100%;
      font-size: 11px;
      font-weight: bold;
      padding: 3px 5px;
    }

    .user-text {
      font-size: 11px;
      color: #AAA;
      padding: 3px 5px;
    }

    .user-email {
      display: block;
      color: gray;
      float: left;
      width: 100%;
      padding: 3px 5px;
      font-size: 13px;
    }
  }
}
