<layout-base *ngIf="character" pageTitle="Editor de Personagem">
  <form *ngIf="characterForm" [formGroup]="characterForm"
      (ngSubmit)="onSubmit(characterForm)">
    <section>
      <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-lg-3 col-form-label text-right"
            for="characterName">
          <b>Nome</b>
        </label>
        <div class="col-sm-12 col-md-8 col-lg-6">
          <input class="form-control form-control-lg"
            type="text"
            id="characterName"
            formControlName="name">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-lg-3 col-form-label text-right"
            for="characterRace">
          <b>Raça</b>
        </label>
        <div class="col-sm-12 col-md-8 col-lg-6">
          <select class="form-control"
              formControlName="characterRace"
              [ngClass]="getErrorClass(characterForm.controls.characterRace)"
              id="characterRace">
            <option value="" selected>Escolha uma raça</option>
            <option *ngFor="let characterRace of characterRaces | async"
                [value]="characterRace.id">
              {{ characterRace.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-lg-3 col-form-label text-right"
            for="characterClass">
          <b>Classe</b>
        </label>
        <div class="col-sm-12 col-md-8 col-lg-6">
          <select class="form-control"
              formControlName="characterClass"
              [ngClass]="getErrorClass(characterForm.controls.characterClass)"
              id="characterClass">
            <option value="" selected>Escolha uma classe</option>
            <option *ngFor="let characterClass of characterClasses | async"
                [value]="characterClass.id">
              {{ characterClass.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row" [formGroup]="characterForm.attributes">
        <label class="col-sm-12 col-md-2 col-lg-3 col-form-label text-right">
          <b>Atributos</b>
        </label>
        <div class="col-sm-12 col-md-8 col-lg-6">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
              <label for="attributeStrength">FOR</label>
              <input class="form-control"
                type="number"
                id="attributeStrength"
                formControlName="strength">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <label for="attributeDexterity">DES</label>
              <input class="form-control"
                type="number"
                id="attributeDexterity"
                formControlName="dexterity">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <label for="attributeConstitution">CON</label>
              <input class="form-control"
                type="number"
                id="attributeConstitution"
                formControlName="constitution">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
              <label for="attributeIntelligence">INT</label>
              <input class="form-control"
                type="number"
                id="attributeIntelligence"
                formControlName="intelligence">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <label for="attributeWisdom">SAB</label>
              <input class="form-control"
                type="number"
                id="attributeWisdom"
                formControlName="wisdom">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <label for="attributeCharisma">CAR</label>
              <input class="form-control"
                type="number"
                id="attributeCharisma"
                formControlName="charisma">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="form-group row">
        <div class="ml-auto col-sm-12 col-md-10 col-lg-9">
          <button class="btn btn-primary" type="submit"
              [disabled]="characterForm.invalid">
            <i class="fa fa-edit"></i> Salvar
          </button>
          <button class="btn btn-link" type="button" (click)="goBack()">
            <i class="fa fa-remove"></i> Cancelar
          </button>
        </div>
      </div>
    </section>
  </form>
</layout-base>
