<div class="card">
  <div class="card-header">
    <p class="card-title">Atributos</p>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="character-strength">Força</label>
          <div class="input-group input-group-sm">
            <span class="input-group-addon attribute">FOR</span>
            <input class="form-control form-control-sm" type="number"
              id="character-strength">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-attack-mod">Mod. Ataque</label>
          <input class="form-control form-control-sm" type="number"
            id="character-attack-mod">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-damage-mod">Mod. Dano</label>
          <input class="form-control form-control-sm" type="number"
            id="character-damage-mod">
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label for="character-attack-mod">Carga</label>
          <input class="form-control form-control-sm" type="text"
            id="character-attack-mod"
            readonly>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="character-dexterity">Destreza</label>
          <div class="input-group input-group-sm">
            <span class="input-group-addon attribute">DES</span>
            <input class="form-control form-control-sm" type="number"
              id="character-dexterity">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-dex-mod">Ajustes</label>
          <input class="form-control form-control-sm" type="number"
            id="character-dex-mod">
        </div>
      </div>
      <div class="col-sm-7">
        <div class="form-group">
          <label for="character-dex-mod">Talentos Ladinos</label>
          <input class="form-control form-control-sm" type="text"
            id="character-dex-mod">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="character-constitution">Constituição</label>
          <div class="input-group input-group-sm">
            <span class="input-group-addon attribute">CON</span>
            <input class="form-control form-control-sm" type="number"
              id="character-constitution">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-cons-mod">Ajuste PV</label>
          <input class="form-control form-control-sm" type="number"
            id="character-cons-mod">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-cons-mod">Ajuste JP</label>
          <input class="form-control form-control-sm" type="number"
            id="character-cons-mod">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="character-cons-ressurection">% Ressureição</label>
          <input class="form-control form-control-sm" type="number"
            id="character-cons-ressurection">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="character-intelligence">Inteligência</label>
          <div class="input-group input-group-sm">
            <span class="input-group-addon attribute">INT</span>
            <input class="form-control form-control-sm" type="number"
              id="character-intelligence">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-int-languages">Idiomas</label>
          <input class="form-control form-control-sm" type="number"
            id="character-int-languages">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="character-int-learn-magic">% Aprender Magia</label>
          <input class="form-control form-control-sm" type="number"
            id="character-int-learn-magic">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="character-int-aditional-magic">Magias Adicionais</label>
          <input class="form-control form-control-sm" type="number"
            id="character-int-aditional-magic">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="character-wisdom">Sabedoria</label>
          <div class="input-group input-group-sm">
            <span class="input-group-addon attribute">SAB</span>
            <input class="form-control form-control-sm" type="number"
              id="character-wisdom">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-wis-mod">Ajuste JP</label>
          <input class="form-control form-control-sm" type="number"
            id="character-wis-mod">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="character-wis-aditional-magic">Magias Adicionais</label>
          <input class="form-control form-control-sm" type="number"
            id="character-wis-aditional-magic">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="character-charisma">Carisma</label>
          <div class="input-group input-group-sm">
            <span class="input-group-addon attribute">CAR</span>
            <input class="form-control form-control-sm" type="number"
              id="character-charisma">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-char-followers">Seguidores</label>
          <input class="form-control form-control-sm" type="number"
            id="character-char-followers">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-char-reaction">Reação</label>
          <input class="form-control form-control-sm" type="number"
            id="character-char-reaction">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="character-char-bane-undead">Mortos Vivos</label>
          <input class="form-control form-control-sm" type="number"
            id="character-char-bane-undead">
        </div>
      </div>
    </div>
  </div>
</div>
