// .navbar {
//   padding: 0;
// }

.navbar-brand {
  font-family: "PT Serif";
  padding: 0;
  margin: 0;

  .brand-logo {
    width: 150px;
  }
}

.navbar-nav {
  a {
    &.user {
      padding: 9px;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
