.navbar-brand {
  font-family: "PT Serif";
  padding: 0;
  margin: 0;

  .brand-logo {
    width: 150px;
  }
}

.navbar-nav {
  a {
    &.user {
      padding: .5em;

      img {
        width: 2em;
        height: 2em;
      }
    }
  }
}

.avatar {
  height: 20px;
  width: 20px;
}

.navbar {
  font-family: 'Source Sans Pro', sans-serif !important;

  &.transparent { background-color: rgba(0, 0, 0, .75) !important; }
}
