<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">OD Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglableContent"
            aria-controls="navbarTogglableContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglableContent">
      <ul class="navbar-nav mr-auto" *ngIf="!authenticated"></ul>
      <ul class="navbar-nav mr-auto" *ngIf="authenticated">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/main/campaigns']">
            Campanhas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/main/characters']">
            Personagens
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users']">
            Usuários
          </a>
        </li>
      </ul>

      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/example']">
            <i class="fa fa-list-alt fa-lg"></i> Templates
          </a>
        </li>
        <li class="nav-item" *ngIf="!authenticated"
            [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/users/registration']">
            <i class="fa fa-user-plus fa-lg"></i> Registrar-se
          </a>
        </li>
        <li class="nav-item" *ngIf="!authenticated"
            [routerLinkActive]="['active']">
          <a class="nav-link btn btn-primary text-light btn-sm"
              [routerLink]="['/login']">
            <i class="fa fa-sign-in fa-lg"></i> Entrar
          </a>
        </li>

        <li class="nav-item dropdown" ngbDropdown *ngIf="authenticated">
          <a class="nav-link" [routerLink]="['/users/profile/', currentUser.id]">
            <span [ngClass]="{'text-danger': hasData(currentUser.invitations)}">
              <i class="fa fa-bell"></i>
            </span>
            <span class="badge badge-pill badge-light text-dark"
                *ngIf="hasData(currentUser.invitations)">
              {{currentUser?.invitations?.length}}
            </span>
          </a>
        </li>
        <li class="nav-item dropdown" ngbDropdown *ngIf="authenticated">
          <a class="nav-link pointer" id="options" ngbDropdownToggle>
            <span>
              <img class="rounded-circle avatar" [src]="avatar"
                alt="avatar"> {{currentUser.name}}
            </span>
          </a>
          <div class="bg-dark" ngbDropdownMenu aria-labelledby="options">
            <a class="dropdown-item text-light"
                [routerLink]="['/users/profile/', currentUser.id]">
              <i class="fa fa-user-circle-o fa-lg"></i> Minha Conta
            </a>
            <a class="dropdown-item text-light" [routerLink]="['/welcome']"
                (click)="logout()">
              <i class="fa fa-sign-out fa-lg"></i> Sair
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
