<section class="page" *ngIf="campaign">
  <header>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">{{page?.page_category?.title}}</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" [routerLink]="['edit']"
          *ngIf="isCampaignOwner()">
          <i class="fa fa-edit"></i> Editar
        </a>
      </li>
    </ul>
    <div class="mt-2">
      <h2 class="page-title">{{page?.title}}</h2>
    </div>
  </header>

  <article *ngIf="page">
    <htmlOutlet [html]="compileText(page.body)"></htmlOutlet>
  </article>
</section>
