<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Informações Principais</h3>
  </div>
  <div class="panel-body">
    <div class="row-fluid">
      <div class="col-xs-4">
        <div class="form-group">
          <label for="character-name">Nome do Personagem</label>
          <input class="form-control input-sm" type="text"
            id="character-name">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label for="player-name">Nome do Jogador</label>
          <input class="form-control input-sm" type="text"
            id="player-name">
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label for="campaign-name">Campanha</label>
          <input class="form-control input-sm" type="text"
            id="campaign-name">
        </div>
      </div>
      <div class="col-xs-1">
        <div class="form-group">
          <label for="character-level">Nível</label>
          <input class="form-control input-sm" type="text"
            id="character-level">
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-xs-3">
        <div class="form-group">
          <label for="character-race">Raça</label>
          <select class="form-control input-sm"
              name="character-race" id="character-race">
            <option value="">Selecione</option>
          </select>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label for="character-class">Classe</label>
          <select class="form-control input-sm"
              name="character-class" id="character-class">
            <option value="">Selecione</option>
          </select>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label for="character-specialization">Especialização</label>
          <select class="form-control input-sm"
              name="character-specialization" id="character-specialization">
            <option value="">Selecione</option>
          </select>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label for="character-alignment">Alinhamento</label>
          <select class="form-control input-sm"
              name="character-alignment" id="character-alignment">
            <option value="">Selecione</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-xs-1">
        <div class="form-group">
          <label for="character-sex">Sexo</label>
            <input class="form-control input-sm" type="text"
              id="character-sex">
        </div>
      </div>
      <div class="col-xs-1">
        <div class="form-group">
          <label for="character-age">Idade</label>
            <input class="form-control input-sm" type="number"
              min="1" step="1"
              id="character-age">
        </div>
      </div>
      <div class="col-xs-1">
        <div class="form-group">
          <label for="character-height">Altura</label>
          <input class="form-control input-sm" type="number"
            min="0.50" step="0.05"
            id="character-height">
        </div>
      </div>
      <div class="col-xs-1">
        <div class="form-group">
          <label for="character-weight">Peso</label>
          <input class="form-control input-sm" type="number"
            min="30.0" step="0.5"
            id="character-weight">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="character-eye-color">Olhos</label>
          <input class="form-control input-sm" type="text"
            id="character-eye-color">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="character-hair-color">Cabelos</label>
          <input class="form-control input-sm" type="text"
            id="character-hair-color">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label for="character-religion">Religião</label>
          <input class="form-control input-sm" type="text"
            id="character-religion">
        </div>
      </div>
    </div>
  </div>
</div>
