<section class="campaign-characters" [formGroup]="campaignForm">
  <h4 class="title">Personagens</h4>

  <div class="row" formArrayName="characters">
    <div class="col-sm-12 col-md-6 col-lg-4"
        *ngFor="let character of characters; let idx=index">
      <campaign-form-character [character]="character"
        [characters]="campaignForm.controls.characters"
        (removeCharacter)="removeCharacter($event)"
        ></campaign-form-character>
    </div>
  </div>

  <campaign-invite-users [campaign]="campaign"></campaign-invite-users>
</section>
