<div class="card">
  <div class="card-body">
    <h6 class="card-title">Adicionar Jogador</h6>
    <p class="card-text" *ngIf="!hasUsers()">Nenhum herói disponível</p>
    <form class="form-inline" [formGroup]="invitationForm"
        (ngSubmit)="onSubmit(invitationForm)"
        *ngIf="hasUsers()">
      <label class="sr-only" for="user">Usuário</label>
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="user"
          formControlName="user">
        <option value="" selected>Selecione</option>
        <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
      </select>

      <button class="btn btn-primary" type="submit"
          [disabled]="invitationForm.invalid">
        <i class="fa fa-send"></i> Convidar
      </button>
    </form>
  </div>
</div>
