<nav class="navbar navbar-expand-sm navbar-light bg-light layout-toolbar">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-th"></i>
        <span class="d-sm-none d-md-inline">Todas as Páginas</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-history"></i>
        <span class="d-sm-none d-md-inline">Acontecimentos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-map-signs"></i>
        <span class="d-sm-none d-md-inline">Localidades</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-user-o"></i>
        <span class="d-sm-none d-md-inline">Personagens</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-group"></i>
        <span class="d-sm-none d-md-inline">Organizações</span>
      </a>
    </li>
  </ul>

  <ul class="navbar-nav my-2 my-lg-0">
    <li class="nav-item">
      <a class="nav-link text-primary" [routerLink]="['new']">
        <i class="fa fa-plus"></i>
        <span class="d-sm-none d-md-inline">Nova página</span>
      </a>
    </li>
  </ul>
</nav>

<div class="card-columns">
  <campaign-wiki-card *ngFor="let page of pages"
    [page]="page"></campaign-wiki-card>
</div>
