<nav class="navbar navbar-expand-sm navbar-light layout-toolbar" *ngIf="campaign">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"
        [ngClass]="{active: isActiveCategory('')}">
      <a class="nav-link pointer" (click)="changeList('')">
        Todas
      </a>
    </li>
    <li class="nav-item" *ngFor="let category of categories"
        [ngClass]="{active: isActiveCategory(category.wiki_name)}">
      <a class="nav-link pointer" (click)="changeList(category.wiki_name)">
        {{category.title}}
      </a>
    </li>
  </ul>

  <ul class="navbar-nav my-2 my-lg-0">
    <li class="nav-item" *ngIf="isCampaignOwner()">
      <a class="nav-link text-primary" [routerLink]="['new']">
        <i class="fa fa-plus"></i>
        <span class="d-sm-none d-md-inline">Nova página</span>
      </a>
    </li>
  </ul>
</nav>

<section class="card-columns" *ngIf="wikiPages">
  <campaign-wiki-card *ngFor="let page of pages"
    [page]="page"></campaign-wiki-card>
  <article class="card" *ngIf="!pages.length">
    <div class="card-body text-center">
      <p class="card-text" *ngIf="!isCampaignOwner()">
        Nenhuma página encontrada
      </p>
      <a class="card-link" [routerLink]="['new']" *ngIf="isCampaignOwner()">
        <i class="fa fa-plus"></i>
        <span class="d-sm-none d-md-inline">Criar nova página</span>
      </a>
    </div>
  </article>
</section>
