<fieldset class="campaign-journals" [formGroup]="campaignForm">
  <h4 class="title">Diários de Campanha</h4>

  <div formArrayName="journals">
    <div *ngFor="let journal of filterUndestroyed(journals); let idx=index">
      <campaign-form-journal [journal]="journal"
        [journals]="campaignForm.controls.journals"
        (removeJournal)="removeJournal($event)"></campaign-form-journal>
    </div>
  </div>

  <div class="d-flex justify-content-start">
    <button class="btn btn-minimal-primary btn-sm" type="button"
        (click)="addJournal()">
      <i class="fa fa-plus-circle"></i> Novo diário
    </button>
  </div>
</fieldset>
