.jumbotron { box-shadow: $jumbotron-box-shadow; }

.card {
  // -webkit-box-shadow: $card-box-shadow;
  // -moz-box-shadow: $card-box-shadow;
  // box-shadow: $card-box-shadow;
  // border: none;
  margin: 10px 0;

  &.feature-link,
  &.feature-link .card-img {
    border-radius: $card-inner-border-radius;
    max-height: 200px;
    object-fit: cover;
  }

  .card-header {
    .card-title {
      margin: 0;
      padding: 0;
    }
  }

  .card-img-overlay {
    background-color: $card-img-overlay-bg;
    border-radius: $card-border-radius;

    &:hover { background-color: $card-img-overlay-bg; }

    .card-text, .card-title {
      -webkit-text-shadow: 0 0px 30px rgba(0, 0, 0, 1), 0 1px 3px rgba(0, 0, 0, .8);
      -moz-text-shadow: 0 0px 30px rgba(0, 0, 0, 1), 0 1px 3px rgba(0, 0, 0, .8);
      text-shadow: 0 0px 30px rgba(0, 0, 0, 1), 0 1px 3px rgba(0, 0, 0, .8);
    }
  }

  .card-body {
    .card {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  .list-group {
    .list-group-item {
      background-color: $really-white;
    }
  }
}

.card-picture {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-radius($card-inner-border-radius);
}

// Card image caps
.card-picture-top {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-top-radius($card-inner-border-radius);
}

.card-picture-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-bottom-radius($card-inner-border-radius);
}

.title {
  border-bottom: 1px solid $gray-700;
  padding: 5px 0;
}

// Card image
.card-img-overlay {
  background-color: rgba($black, .3);

  .card-title, .card-text {
    color: $white;
    text-shadow: 0 1px 1px rgba($black, .5);
  }
}

.card.card-blurred {
  border-radius: $border-radius;

  .card-img-overlay { border-radius: $border-radius; }

  .card-img {
    max-height: 100%;
    object-fit: cover;
  }
}

.card-picture-top {
  height: 250px;
  max-height: 250px;
  overflow: hidden;

  &.small {
    height: 150px;
    max-height: 150px;
  }

  &.large {
    height: 300px;
    max-height: 300px;
  }

  img {
    object-fit: cover;
    width: 100%;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-family-sans-serif;
  margin: 0.5rem 0;
}

.mega-menu {
  background-color: $gray-800;
  display: none;
  height: auto;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 100%;
  width: 100%;

  ul { margin: 0; }
}

.form-title {
  font-family: "PT Serif";
  font-size: 110%;

  &.large { font-size: 150%; }

  &.small { font-size: 130%; }
}

.pointer { cursor: pointer; }


.markdown-example {
  display: block;
  font-size: 80%;
  list-style: none;
  padding: .5em;

  li, .markdown-item {
    padding: 0 .3em;
  }
}

.navbar-nav {
  .nav-link { border-radius: $border-radius; }
}

.bg-chaotic { @extend .bg-danger; }

.bg-lawfull { @extend .bg-info; }

.bg-neutral { @extend .bg-success; }

.text-chaotic { @extend .text-danger; }

.text-lawfull { @extend .text-info; }

.text-neutral { @extend .text-success; }

.card {
  &.bg-chaotic,
  &.bg-lawfull,
  &.bg-neutral {

    .card-title {
      @extend .text-light;
      text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    }

    .card-body {
      @extend .bg-light;

      .card-text{
        @extend .text-dark;
      }
    }
  }
}


.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  text-shadow: 0 1px 10px rgba(255, 255, 255,.5);
  // animation: blinker 2s linear infinite;
}

@keyframes blinker {
  0% { text-shadow: 0 0 -10px rgba(255,255,255,.7); }
  40% { text-shadow: 0 0 20px rgba(255,255,255,.5); }
  60% { text-shadow: 0 0 20px rgba(255,255,255,.5); }
  100% { text-shadow: 0 0 -10px rgba(255,255,255,.7); }
}

.card-img-overlay {

  .card-text.description {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }

  &:hover {
    .card-text.description {
      visibility: visible;
      opacity: 1;
    }
  }
}

section { margin: .5em 0; }

.ra-lawfull {
  @extend .ra-angel-wings;
}

.ra-neutral {
  @extend .ra-interdiction;
}

.ra-chaotic {
  @extend .ra-batwings;
}
