.jumbotron { box-shadow: $jumbotron-box-shadow; }

.card {
  -webkit-box-shadow: $card-box-shadow;
  -moz-box-shadow: $card-box-shadow;
  box-shadow: $card-box-shadow;
  border: none;
  margin: 10px 0;

  .card-body {
    .card {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: 1px solid $gray-300;
    }
  }
}

.card-picture {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-radius($card-inner-border-radius);
}

// Card image caps
.card-picture-top {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-top-radius($card-inner-border-radius);
}

.card-picture-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-bottom-radius($card-inner-border-radius);
}

.title {
  border-bottom: 1px solid $gray-700;
  padding: 5px 0;
  text-shadow: 0 2px 1px rgba($gray-900, .3);
}

// Card image
.card-img-overlay {
  background-color: rgba($black, .3);

  .card-title, .card-text {
    color: $white;
    text-shadow: 0 1px 1px rgba($black, .5);
  }
}

.card.card-blurred {
  border-radius: $border-radius;

  .card-img-overlay { border-radius: $border-radius; }

  .card-img {
    max-height: 100%;
    object-fit: cover;
  }
}

.card-picture-top {
  height: 250px;
  max-height: 250px;
  overflow: hidden;

  &.small {
    height: 150px;
    max-height: 150px;
  }

  &.large {
    height: 300px;
    max-height: 300px;
  }

  img {
    object-fit: cover;
    width: 100%;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-family-sans-serif;
}

.mega-menu {
  background-color: $gray-800;
  display: none;
  height: auto;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 100%;
  width: 100%;

  ul { margin: 0; }
}
