@import "~bootstrap/scss/mixins";

@mixin button-background($background) {
  // background: -webkit-linear-gradient($background, darken($background, 2%));
  // background: -o-linear-gradient($background, darken($background, 2%));
  // background: linear-gradient($background, darken($background, 2%));

  background: radial-gradient(
      ellipse at center,
      rgba(lighten($background, 10%), .85) 10%,
      rgba(darken($background, 20%), .85) 100%
    ),
    url($btn-custom-bg) no-repeat;
  background-size: cover;
}

@mixin button-border($background) {
  border-width: 1px;
  border-color: $background;
  border-radius: .25em .25em .25em .25em / .3em .3em .3em .3em;
  border-style: outset;
}

@mixin button-variant($background, $border, $active-background: darken($background, 25%), $active-border: darken($border, 10%), $hover-background: darken($background, 15%)) {
  @include button-background($background);
  @include button-border($background);
  color: $really-white !important;
  font-family: $btn-font-family !important;
  font-weight: $font-weight-bold;
  // margin: .25em .75em;
  position: relative;
  text-shadow: 0 1px 1px rgba($black, 1);
  text-transform: uppercase;
  -webkit-transition: background 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

  &:hover {
    @include button-background($hover-background);
  }

  &:focus,
  &.focus {
    @if $enable-shadows {
      box-shadow: $btn-box-shadow, 0 0 0 3px rgba($border, .5);
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    @include button-background($background);
    border-color: $background;
    border-style: solid;

    &::before,
    &::after {
      border-color: $gray-100;
    }
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    @include button-background($active-background);
    border-color: #fcad35;

    // &::before,
    // &::after {
    //   background: linear-gradient(120deg, darken($danger, 5%), darken($danger, 15%));
    // }
  }

  // &::before,
  // &::after {
  //   background: linear-gradient(120deg, darken($background, 5%), darken($background, 15%));
  //   border: 2px outset #fcad35;
  //   border-radius: .25rem;
  //   content: '';
  //   height: 1em;
  //   margin: 0;
  //   position: absolute;
  //   transform: rotate(45deg);
  //   top: .75em;
  //   vertical-align: middle;
  //   width: 1em;
  // }
  //
  // &::before {
  //   left: -.55em;
  // }
  //
  // &::after {
  //   right: -.55em;
  // }
}

@mixin button-outline-variant($color, $color-hover: #fff, $active-color: darken($color, 10%)) {
  @include button-border($color);
  color: $active-color;
  background-color: transparent;
  background-image: none;
  font-family: $btn-font-family !important;
  font-weight: bold;
  text-transform: uppercase;

  @include hover {
    @include button-background($color);
    color: $color-hover;
    text-shadow: 0 1px 1px rgba($black, .95);
  }

  &:focus,
  &.focus {
    // box-shadow: 0 0 0 3px rgba($color, .5);
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    @include button-background($active-color);
    border-color: $active-color;
    color: $color-hover;
  }
}

@mixin button-minimal-variant($color, $color-hover: #fff, $active-color: darken($color, 10%)) {
  @include button-border(transparent);
  color: darken($color, 10%);
  background-color: $white;
  background-image: none;
  box-shadow: $btn-box-shadow;
  font-family: $btn-font-family !important;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba($black, .1);
  text-transform: uppercase;

  @include hover {
    @include button-background($color);
    @include button-border($color);
    color: $color-hover;
    text-shadow: 0 1px 1px rgba($black, .95);
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 3px rgba($color, .5);
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $color-hover;
    @include button-background($active-color);
  }
}
