$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

// @import "../node_modules/bootstrap/scss/bootstrap.scss";
// @import "assets/_variables.scss";
// @import "assets/style-bootstrap.scss";
// @import "assets/_bootswatch.scss";

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  width: 100%;
}

body { background-color: #c43030; }

.content {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pointer { cursor: pointer; }

// -----------------------------------------------------------------------------
// ninja-input
fieldset:not([disabled]) .form-control.ninja-input,
.form-control.ninja-input:not([readonly]) {
  background-color: transparent;
  // border: 1px dotted rgba(0, 0, 0, .15);
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px;
}

fieldset:not([disabled]) .form-control.ninja-input:focus,
.form-control.ninja-input:focus:not([readonly]) {
  background-color: #fff;
  // border: 1px dotted rgba(0, 0, 0, .3);
  outline: 1px dotted rgba(0, 0, 0, .3);
  border-radius: 4px;
}

fieldset:not([disabled]) .ninja-input.panel-title:focus,
.ninja-input.panel-title:focus:not([readonly]) {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #abd5bd;
}

fieldset[disabled] .form-control.ninja-input,
.form-control[readonly].ninja-input {
  background-color: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px;
}

// -----------------------------------------------------------------------------
// note
.note {
  background: #ffc;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #333;
  margin-bottom: 2em;
  overflow: hidden;
  padding: 1em 1.5em;
  position: relative;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 100%;

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.note .dm-content {
  border-top: 1px solid #333;
  display: block;
  margin-top: 5px;
  padding: 3px;
}

.note textarea {
  max-width: 100%;
  min-width: 100%;
}

.note.folded:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fff #fff #658E15 #658E15;
  background: #ffc;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  /* Firefox 3.0 damage limitation */
  display: block; width: 0;
}

.note.rounded {
  -moz-border-radius: 5px 0 5px 5px;
  border-radius: 5px 0 5px 5px;
}

.note.rounded.folded:before {
  border-width: 8px;
  border-color: #fff #fff transparent transparent;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
