<div class="col-xs-12">
  <h2 class="title">Modificadores</h2>

  <ul class="nav nav-pills nav-justified">
    <li role="presentation" [routerLinkActive]="['active']">
      <a [routerLink]="['strength']">
        <img src="./assets/strength-icon.png" alt=">>" width="32"> Força
      </a>
    </li>
    <li role="presentation" [routerLinkActive]="['active']">
      <a [routerLink]="['dexterity']">
        <img src="./assets/dexterity-icon.png" alt=">>" width="32"> Destreza
      </a>
    </li>
    <li role="presentation" [routerLinkActive]="['active']">
      <a [routerLink]="['constitution']">
        <img src="./assets/constitution-icon.png" alt=">>" width="32"> Constituição
      </a>
    </li>
    <li role="presentation" [routerLinkActive]="['active']">
      <a [routerLink]="['intelligence']">
        <img src="./assets/intelligence-icon.png" alt=">>" width="32"> Inteligência
      </a>
    </li>
    <li role="presentation" [routerLinkActive]="['active']">
      <a [routerLink]="['wisdom']">
        <img src="./assets/wisdom-icon.png" alt=">>" width="32"> Sabedoria
      </a>
    </li>
    <li role="presentation" [routerLinkActive]="['active']">
      <a [routerLink]="['charisma']">
        <img src="./assets/charisma-icon.png" alt=">>" width="32"> Carisma
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>
