<a class="card" [routerLink]="['/main/campaigns', campaign.id]">
  <img [ngClass]="getCoverClass()" [src]="campaign.picture"
    [alt]="campaign.title">
  <div [ngClass]="getBodyClass()">
    <h4 class="card-title">{{campaign.title}}</h4>
    <p class="card-text" *ngIf="showDetails">
      <span class="badge badge-primary">
        {{campaign.characters.length}} personagens
      </span>
      <span class="badge badge-primary">
        {{campaign.journals.length}} sessões jogadas
      </span>
    </p>
    <p class="card-text">{{campaign.description}}</p>
  </div>
</a>
