$dungeon-master-size: 3em !default;

.card {
  .card-img-top {
    max-height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .card-body {
    position: relative;

    .user-pill {
      top: -(2em / 2);
    }

    .card-title {
      margin-top: .5em;
    }
  }
}
