<a class="card" [routerLink]="['/main/campaigns', campaign.uuid]">
  <img class="card-img-top" [src]="campaign.picture" [alt]="campaign.title">
  <div class="card-body">
    <span class="dungeon-master" *ngIf="showDetails">
      <img class="avatar rounded-circle"
        [src]="campaign.dungeonMaster.avatar"
        [alt]="campaign.dungeonMaster.name" />
        <small class="name text-muted">{{campaign.dungeonMaster.name}}</small>
    </span>
    <h4 class="card-title">{{campaign.title}}</h4>
    <small class="card-text">{{campaign.description}}</small>
  </div>
</a>
