
<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
  <h2>Editar Configurações</h2>

  <form class="form-horizontal" (submit)="saveChanges()">
    <div class="form-group">
      <label for="user-name">Nome</label>
      <input type="text" class="form-control" [(ngModel)]="user.name"
        name="user-name" id="user-name" placeholder="Nome">
    </div>

    <div class="form-group">
      <label for="user-email">E-mail</label>
      <input type="email" class="form-control" [(ngModel)]="user.email"
        name="user-email" id="user-email" placeholder="joao.ninguem@exemplo.com">
    </div>

    <div class="form-group">
      <label for="user-password">Senha</label>
      <input type="password" class="form-control" [(ngModel)]="user.password"
        name="user-password" id="user-password" placeholder="******">
    </div>

    <div class="form-group">
      <label for="user-confirm">Confirmação de senha</label>
      <input type="password" class="form-control" [(ngModel)]="user.confirm"
        name="user-confirm" id="user-confirm" placeholder="******">
    </div>

    <div class="form-group">
      <button type='submit' class='btn btn-primary'>
        <glyph icon="floppy-save"></glyph> Salvar
      </button>
    </div>
  </form>
</div>
