<fieldset class="campaign-notes" [formGroup]="campaignForm"
    [disabled]="!enabledEditing">
  <h4 class="title">Anotações</h4>

  <div class="row" formArrayName="notes">
    <div class="col-xs-12 col-sm-6 col-md-4"
        *ngFor="let note of notes; let idx=index">
      <campaign-note-form [note]="note"
        [notes]="campaignForm.controls.notes"
        (removeJournal)="removeNote($event)"></campaign-note-form>
    </div>
  </div>

  <div class="row-fluid">
    <a class="pointer" (click)="addNote()">
      <glyph icon="plus-sign"></glyph> Adicionar anotação
    </a>
  </div>
</fieldset>
