<layout-base pageTitle="A aventura começa aqui">
  <section class="card-deck">
    <a class="card card-blurred" [routerLink]="[link.route]"
        *ngFor="let link of links">
      <img class="card-img" [src]="link.picture" alt="link.title">
      <div class="card-img-overlay card-dark-overlay d-flex flex-column justify-content-between">
        <h5 class="card-title"><b>{{link.title}}</b></h5>
        <small class="card-text">{{link.description}}</small>
      </div>
    </a>
  </section>

  <main-feed></main-feed>
</layout-base>
