<h3 class="title">Classes</h3>

<ul class="nav nav-pills nav-justified">
  <li role="presentation" [routerLinkActive]="['active']">
    <a [routerLink]="['details', 1]">
      <img src="./assets/wisdom-icon.png" alt=">>" width="32"> Clérigo
    </a>
  </li>
  <li role="presentation" [routerLinkActive]="['active']">
    <a [routerLink]="['details', 2]">
      <img src="./assets/strength-icon.png" alt=">>" width="32"> Homem de Armas
    </a>
  </li>
  <li role="presentation" [routerLinkActive]="['active']">
    <a [routerLink]="['details', 3]">
      <img src="./assets/dexterity-icon.png" alt=">>" width="32"> Ladrão
    </a>
  </li>
  <li role="presentation" [routerLinkActive]="['active']">
    <a [routerLink]="['details', 4]">
      <img src="./assets/intelligence-icon.png" alt=">>" width="32"> Mago
    </a>
  </li>
</ul>

<div class="tab-content">
  <router-outlet></router-outlet>
</div>
