<div class="card bg-light journal-form" [formGroup]="journalForm">
  <div class="card-body">
    <label>Título</label>
    <input class="form-control card-title"
      type="text"
      formControlName="title">
    <label>Descrição</label>
    <textarea class="form-control card-text"
      formControlName="description"></textarea>
    <div class="d-flex justify-content-end" *ngIf="canEdit()">
      <a class="card-link text-right pointer" (click)="remove()">
        <i class="fa fa-trash-o"></i> Remover
      </a>
    </div>
  </div>
</div>
