<fieldset class="specialization-stages" [formGroup]="specializationForm">
  <h4 class="title">Estágios de Evolução</h4>

  <section formArrayName="stages">
    <div class="list-group">
      <div class="list-group-item" *ngFor="let stage of stages; let idx=index">
        <specialization-form-stage [stage]="stage"
          [stages]="specializationForm.controls.stages"
          [stageIndex]="idx"
          ></specialization-form-stage>
      </div>
    </div>
  </section>

  <section class="d-flex justify-content-start">
    <button class="btn btn-outline-primary btn-sm" type="button"
        (click)="addStage()">
      <i class="fa fa-plus-circle"></i> Novo estágio
    </button>
  </section>
</fieldset>
