<fieldset class="specialization-stages card" [formGroup]="specializationForm">
  <div class="list-group list-group-flush" formArrayName="stages">
    <div class="list-group-item" *ngFor="let stage of stages; let idx=index">
      <specialization-form-stage [stage]="stage"
        [stages]="specializationForm.controls.stages"
        [stageIndex]="idx"
        ></specialization-form-stage>
    </div>
  </div>

  <div class="card-footer">
    <button class="btn btn-outline-light btn-sm" type="button" (click)="addStage()">
      <i class="fa fa-plus-circle"></i> Adicionar estágio
    </button>
  </div>
</fieldset>
