<div class="card" [formGroup]="characterForm">
  <div class="card-body row" formGroupName="attributes">
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2">
      <character-editor-attribute name="Força"
        formControlName="strength"></character-editor-attribute>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2">
      <character-editor-attribute name="Destreza"
        formControlName="dexterity"></character-editor-attribute>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2">
      <character-editor-attribute name="Constituição"
        formControlName="constitution"></character-editor-attribute>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2">
      <character-editor-attribute name="Inteligência"
        formControlName="intelligence"></character-editor-attribute>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2">
      <character-editor-attribute name="Sabedoria"
        formControlName="wisdom"></character-editor-attribute>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2">
      <character-editor-attribute name="Carisma"
        formControlName="charisma"></character-editor-attribute>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <button class="btn btn-outline-light" type="button" (click)="generateAttributes()">
      <i class="fa fa-cog"></i> Gerar atributos
    </button>
  </div>
</div>
