<div class="sheet" style="border: 1px solid rgba(0,0,0,.1);">
  <h3 class="title">Ficha de Personagem</h3>

  <div class="row-fluid">
      <sheet-character-info></sheet-character-info>
  </div>

  <div class="row">
    <div class="col-xs-7">
      <sheet-character-attributes></sheet-character-attributes>
    </div>
    <div class="col-xs-5">
      <sheet-character-points></sheet-character-points>
      <sheet-character-armor-class></sheet-character-armor-class>
      <sheet-character-protection></sheet-character-protection>
      <sheet-character-movement></sheet-character-movement>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <sheet-character-attack-bonuses></sheet-character-attack-bonuses>
    </div>
    <div class="col-xs-8">
      <sheet-character-weapons></sheet-character-weapons>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <sheet-character-thief-talents></sheet-character-thief-talents>
    </div>
    <div class="col-xs-9">
      <sheet-character-weapons></sheet-character-weapons>
    </div>
  </div>
</div>
