$border-color: rgba(black, .3);
.timeline {
  padding: 1em;

  .timeline-item {
  	padding: .5em 2em 2em 2em;
  	position: relative;
  	color: rgba(black, .7);
  	border-left: 2px solid $border-color;

  	p {
  		font-size: 1rem;
  	}

    img { max-width: 60%; }

  	// &::before {
  	// 	content: attr(date-is);
  	// 	position: absolute;
  	// 	left: 2em;
  	// 	font-weight: bold;
  	// 	top: 1em;
  	// 	display: block;
  	// 	font-weight: 700;
  	// 	font-size: .785rem;
  	// }

  	&::after {
  		width: 10px;
  		height: 10px;
  		display: block;
  		top: 1em;
  		position: absolute;
  		left: -6px;
  		border-radius: 10px;
  		content: '';
  		border: 2px solid $border-color;
  		background: white;
  	}

  	&:last-child {
  		border-image: linear-gradient(
  			to bottom,
  			$border-color 60%,
  			rgba($border-color, 0)) 1 100%
  		;
  	}
  }
}
