<fieldset class="campaign-journals" [formGroup]="campaignForm"
    [disabled]="!enabledEditing">
  <h4 class="title">Diários de Campanha</h4>

  <div formArrayName="journals">
    <div *ngFor="let journal of journals; let idx=index">
      <campaign-journal-form [journal]="journal"
        [journals]="campaignForm.controls.journals"
        (removeJournal)="removeJournal($event)"></campaign-journal-form>
    </div>
  </div>

  <div>
    <a class="pointer" (click)="addJournal()">
      <i class="fa fa-plus-circle"></i> Novo diário
    </a>
  </div>
</fieldset>
