.navbar-brand {
  padding: 7px 15px;

  .brand-logo {
    width: 150px;
  }
}
.navbar-nav {
  a {
    &.user {
      padding: 9px;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
