<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img class="brand-logo" src="./assets/od_logo.png" [alt]="title">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarTogglableContent"
          aria-controls="navbarTogglableContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglableContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="authenticated" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/main']">
          <glyph icon="home"></glyph> Principal
        </a>
      </li>
      <li class="nav-item" *ngIf="authenticated" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/users']">
          <glyph icon="user"></glyph> Usuários
        </a>
      </li>
    </ul>

    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/example']">Templates</a>
      </li>
      <li class="nav-item" *ngIf="!authenticated" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/users/registration']">
          <glyph icon="plus-sign"></glyph> Registrar-se
        </a>
      </li>
      <li class="nav-item" *ngIf="!authenticated" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/login']">
          <glyph icon="log-in"></glyph> Entrar
        </a>
      </li>
      <li class="nav-item" *ngIf="authenticated" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/users/profile/', currentUser.id]">
          <glyph icon="user"></glyph> Minha Conta
        </a>
      </li>
      <li class="nav-item" *ngIf="authenticated" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/welcome']" (click)="logout()">
          <glyph icon="log-out"></glyph> Sair
        </a>
      </li>
    </ul>
  </div>
</nav>
