<nav class="navbar navbar-expand-sm navbar-light subnav" *ngIf="campaign">
  <!-- <a class="navbar-brand">
    <i class="fa fa-map-o"></i>
    <span class="d-sm-none d-md-inline">Mapas</span>
  </a> -->
  <ul class="navbar-nav mr-auto"></ul>
  <ul class="navbar-nav my-2 my-lg-0">
    <li class="nav-item" *ngIf="isCampaignOwner()">
      <a class="nav-link text-primary" [routerLink]="['new']">
        <i class="fa fa-plus-circle"></i>
        <span class="d-sm-none d-md-inline">Adicionar Mapa</span>
      </a>
    </li>
  </ul>
</nav>

<section class="card-columns" *ngIf="campaign">
  <article class="card" *ngFor="let map of maps">
    <img class="card-img" [src]="map?.url" [alt]="map?.description">
  	<div class="card-img-overlay">
  		<h5 class="card-title">{{map?.description}}</h5>
  	</div>
  </article>
</section>
