<div class="row-fluid">
  <h3 class="title">Raças</h3>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let race of races">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a [routerLink]="['details', race.id]">{{race?.name}}</a>
        </h3>
      </div>

      <div class="panel-body">
        <a [routerLink]="['details', race.id]">
          <img class="img-responsive" src="http://fakeimg.pl/250x200/"
            [alt]="race.name">
        </a>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <b>Méd. Altura: </b>{{race?.min_height}}m ~ {{race?.max_height}}m
        </li>
        <li class="list-group-item">
          <b>Méd. Peso: </b>
        </li>
        <li class="list-group-item">
          <b>Maturidade: </b>{{race?.maturity}} anos
        </li>
        <li class="list-group-item">
          <b>Idade Máx.: </b>{{race?.max_age}} anos
        </li>
        <li class="list-group-item">
          <b>Base Movimento: </b>{{race?.movement_base}} metros
        </li>
      </ul>
    </div>
  </div>
</div>
