<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="user">
    <div class="user-img">
      <a [routerLink]="['profile', user.id]">
        <img [src]="avatar(user?.email)" [alt]="user?.name"
            class="user-avatar img-responsive img-thumbnail img-circle">
      </a>
    </div>
    <div class="user-content">
      <div class="user-name">
        {{user?.name}}
        <span class="pull-right">
          <small class="text-muted">{{user?.login}}</small>
        </span>
      </div>
      <div class="user-text">{{user?.email}}</div>
    </div>
  </div>
</div>
