
<ul class="nav nav-pills">
  <li role="presentation" [routerLinkActive]="['active']">
    <a [routerLink]="['campaigns']">Campanhas</a>
  </li>
  <li role="presentation" [routerLinkActive]="['active']">
    <a [routerLink]="['modifiers']">Modificadores</a>
  </li>
  <li role="presentation" [routerLinkActive]="['active']">
    <a [routerLink]="['characters']">Personagens</a>
  </li>
</ul>

<div class="page-header">
  <h2>Feed</h2>
  <span class="pull-right">
    <button class="btn btn-default btn-sm btn-minimal">
      <glyph icon="refresh"></glyph> Atualizar
    </button>
    <button class="btn btn-default btn-sm btn-minimal">
      <glyph icon="sort-by-attributes"></glyph> Ordenar
    </button>
  </span>
</div>

<section class="feed-list">
  <article class="feed">
    <div class="feed-img">
      <a href="#">
        <img class="feed-avatar img-thumbnail" src="" alt="name">
      </a>
    </div>

    <div class="feed-content">
      <div class="feed-author">
        author
        <span class="pull-right">
          <small class="text-muted">dd MMM yyyy - H:m</small>
        </span>
      </div>
      <div class="feed-text">text</div>
    </div>
  </article>
</section>
