.feed, .feed-list {
  border: none;
  border-radius: .5em;
  display: block;
  float: left;
  width: 100%;
}

.feed {
  background-color: #FFF;
  border: none;
  border-radius: .5em;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  margin: 0;
  margin-bottom: .8em;
  padding: .5em;

  .feed-img {
    display: block;
    float: left;
    height: 64px;
    min-height: 70px;
    padding: 3px;
    width: 64px;

    img {margin: 0 auto;}
  }

  .feed-content {
    display: block;
    float: left;
    min-height: 70px;
    width: calc(100% - 70px);

    .feed-content .feed-author {
      display: block;
      float: left;
      font-size: 11px;
      font-weight: bold;
      padding: 3px 5px;
      width: 100%;
    }

    .feed-content .feed-date {
      color: #AAA;
      font-size: 11px;
    }

    .feed-content .feed-text {
      color: gray;
      display: block;
      float: left;
      font-size: 13px;
      padding: 3px 5px;
      width: 100%;
    }
  }
}
