<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Talentos Ladinos</h3>
  </div>
  <div class="panel-body">
    <div class="row-fluid">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Arrombar</span>
            <input class="form-control input-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Armadilhas</span>
            <input class="form-control input-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Escalar</span>
            <input class="form-control input-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Furtividade</span>
            <input class="form-control input-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Punga</span>
            <input class="form-control input-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Percepção</span>
            <input class="form-control input-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Ataque furtivo</span>
            <input class="form-control input-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
