<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Talentos Ladinos</h3>
  </div>
  <div class="panel-body">
    <div class="row-fluid">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="character-hit-points">Arrombar</label>
          <input class="form-control input-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="character-hit-points">Armadilhas</label>
          <input class="form-control input-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="character-hit-points">Escalar</label>
          <input class="form-control input-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="character-hit-points">Furtividade</label>
          <input class="form-control input-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="character-hit-points">Punga</label>
          <input class="form-control input-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="character-hit-points">Percepção</label>
          <input class="form-control input-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="character-hit-points">Ataque furtivo</label>
          <input class="form-control input-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
    </div>
  </div>
</div>
