<div class="card">
  <div class="card-header">
    <p class="card-title">Talentos Ladinos</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Arrombar</span>
            <input class="form-control form-control-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Armadilhas</span>
            <input class="form-control form-control-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Escalar</span>
            <input class="form-control form-control-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Furtividade</span>
            <input class="form-control form-control-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Punga</span>
            <input class="form-control form-control-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Percepção</span>
            <input class="form-control form-control-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon modifier">Ataque furtivo</span>
            <input class="form-control form-control-sm" type="number"
              id="character-hit-points">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
