
<nav class="navbar navbar-expand-sm navbar-light subnav" *ngIf="showToolbar()">
  <ul class="navbar-nav mr-auto"></ul>
  <ul class="navbar-nav my-2 my-lg-0">
    <li class="nav-item">
      <a class="nav-link text-primary" [routerLink]="['new']">
        <i class="fa fa-plus-circle"></i>
        <span class="d-sm-none d-md-inline">Adicionar Nota</span>
      </a>
    </li>
  </ul>
</nav>

<section class="notes" *ngIf="campaign">
  <div class="row" *ngIf="notes.length">
    <div class="col-sm-12 col-md-6 col-lg-4"
        *ngFor="let note of filteredNotes">
      <article class="note">
        <div class="d-flex justify-content-end">
  				<a [routerLink]="[note.id, 'edit']" *ngIf="isCampaignOwner()">
  					<small><i class="fa fa-edit"></i> Editar</small>
  				</a>
        </div>
        <p><markdown>{{note.description}}</markdown></p>
        <small class="dm-content" [hidden]="!note.dm_only">
          Material do Mestre
        </small>
      </article>
    </div>
  </div>
  <div *ngIf="!notes.length">
    <p>Nenhuma nota encontrada</p>
  </div>
</section>
