<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
  <form-group [field]="userForm.controls.userLogin">
    <label for="userCode">Código de usuário</label>
    <input class="form-control"
        id="userCode"
        formControlName="user_code"
        type="text"
        placeholder="joao.teste">
  </form-group>

  <form-group [field]="userForm.controls.userName">
    <label for="userName">Nome</label>
    <input class="form-control"
        id="userName"
        formControlName="name"
        type="text"
        placeholder="Nome">
  </form-group>

  <form-group [field]="userForm.controls.userEmail">
    <label for="userEmail">E-mail</label>
    <input class="form-control"
        id="userEmail"
        formControlName="email"
        type="email"
        placeholder="joao.teste@exemplo.com">
  </form-group>

  <form-group [field]="userForm.controls.userPassword">
    <label for="userPassword">Senha</label>
    <input class="form-control"
        id="userPassword"
        formControlName="password"
        type="password"
        placeholder="******">
  </form-group>

  <form-group [field]="userForm.controls.userConfirm">
    <label for="userConfirm">Confirmação</label>
    <input class="form-control"
        id="userConfirm"
        formControlName="confirm"
        type="password"
        placeholder="******">
  </form-group>

  <form-group [field]="userForm.controls.userRole"
      *ngIf="currentUser.role.admin">
    <label for="userRole">Perfil</label>
    <select class="form-control" id="userRole" formControlName="role_id">
      <option value="">Selecione</option>
      <option *ngFor="let role of roles"
          [ngValue]="role.id"
          [selected]="isSelectedRole(role)">
        {{role.name}}
      </option>
    </select>
  </form-group>

  <div class="form-group">
    <button type='submit' class='btn btn-primary'
        [disabled]="userForm.invalid || submitted">
      <i class="fa fa-save"></i> <b>Salvar</b>
    </button>
    <button type='button' class='btn btn-secondary' (click)="resetChanges()">
      <i class="fa fa-trash-o"></i> Limpar
    </button>
  </div>
</form>
