<app-message [message]="message"></app-message>

<form class="form-horizontal" [formGroup]="userForm" (submit)="submitChanges()">

  <form-group [field]="userForm.controls.userLogin">
    <label for="userLogin">Código de acesso</label>
    <input class="form-control"
        id="userLogin"
        formControlName="userLogin"
        [(ngModel)]="user.login"
        type="text"
        placeholder="joao.teste">
  </form-group>

  <form-group [field]="userForm.controls.userName">
    <label for="userName">Nome</label>
    <input class="form-control"
        id="userName"
        formControlName="userName"
        [(ngModel)]="user.name"
        type="text"
        placeholder="Nome">
  </form-group>

  <form-group [field]="userForm.controls.userEmail">
    <label for="userEmail">E-mail</label>
    <input class="form-control"
        id="userEmail"
        formControlName="userEmail"
        [(ngModel)]="user.email"
        type="email"
        placeholder="joao.teste@exemplo.com">
  </form-group>

  <form-group [field]="userForm.controls.userPassword">
    <label for="userPassword">Senha</label>
    <input class="form-control"
        id="userPassword"
        formControlName="userPassword"
        [(ngModel)]="user.password"
        type="password"
        placeholder="******">
  </form-group>

  <form-group [field]="userForm.controls.userConfirm">
    <label for="userConfirm">Confirmação</label>
    <input class="form-control"
        id="userConfirm"
        formControlName="userConfirm"
        [(ngModel)]="user.confirm"
        type="password"
        placeholder="******">
  </form-group>

  <form-group [field]="userForm.controls.userRole" *ngIf="currentUser.admin">
    <label for="userRole">Perfil</label>
    <select class="form-control"
        id="userRole"
        formControlName="userRole"
        [(ngModel)]="user.role_id">
      <option value="">Selecione</option>
      <option *ngFor="let role of roles"
          [ngValue]="role.id"
          [selected]="selectedRole(role)">
        {{role.name}}
      </option>
    </select>
  </form-group>

  <div class="form-group">
    <button type='submit' class='btn btn-primary'
        [disabled]="!userForm.valid || submitted">
      <glyph icon="floppy-save"></glyph> Salvar
    </button>
    <button type='button' class='btn btn-default' (click)="resetChanges()">
      <glyph icon="trash"></glyph> Limpar
    </button>
  </div>

</form>
