<section class="wiki-page">
  <header>
    <div class="d-flex justify-content-between">
      <div>
        <a class="mr-2">
          <i class="fa fa-home"></i> Categoria
        </a>
      </div>
      <div>
        <a class="mr-2" [routerLink]="['../']">
          <i class="fa fa-arrow-left"></i> Voltar
        </a>
        <a [routerLink]="['edit']">
          <i class="fa fa-edit"></i> Editar Página
        </a>
      </div>
    </div>
    <h2 class="title page-title">{{page?.title}}</h2>
  </header>

  <article *ngIf="page">
    <htmlOutlet [html]="compileText(page.body)"></htmlOutlet>
  </article>
</section>
