<div class="card" [formGroup]="characterForm">
  <input type="hidden" formControlName="character_id">
  <img class="card-img" [src]="character.picture"
    [alt]="character.name" />
  <div class="card-img-overlay">
    <h5 class="card-title text-light">{{character.name}}</h5>
    <p class="card-text text-light">
      <small>{{character.title}}</small>
    </p>
    <button class="btn btn-danger pointer"
        type="button"
        mwlConfirmationPopover
        title="Confirmação necessária"
        message="Deseja realmente remover o personagem?"
        placement="top"
        confirmText="Remover"
        cancelText="Cancelar"
        (confirm)="remove()">
      <i class="fa fa-remove"></i> Remover Personagem
    </button>
  </div>
</div>
