<article class="card bg-secondary">
  <div class="card-body">
    <h4>Formatação de texto</h4>
    <div class="row">
      <div class="col">
        <ul class="markdown-example">
          <li><b>Texto simples:</b></li>
          <li># Título 1</li>
          <li>## Título 2</li>
          <li>### Título 3...</li>
          <li>*itálico*</li>
          <li>**negrito**</li>
        </ul>
      </div>
      <div class="col">
        <ul class="markdown-example">
          <li><b>Lista ordenada:</b></li>
          <li>1 item</li>
          <li>2 item</li>
          <li><b>Lista não ordenada:</b></li>
          <li>- item</li>
          <li>- item</li>
        </ul>
      </div>
      <div class="col">
        <ul class="markdown-example">
          <li><b>Link:</b> [Google](https://www.google.com)</li>
          <li><b>Wiki Link:</b> [Os Inimigos]([[Os Inimigos]] Os Inimigos dos jogadores)</li>
          <li><b>Imagem:</b> ![old dragon](http://redboxeditora.com.br/od/imgs/logos.png "Old Dragon")</li>
          <li>
            <a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/"
                target="_blank">
              Mais exemplos...
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</article>
