<layout-base pageTitle="Especializações">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light layout-toolbar">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item ml-1">
        <a class="nav-link text-light" [routerLink]="['new']">
          <i class="fa fa-plus-circle"></i>
          <span class="d-sm-none d-md-inline">Criar Especialização</span>
        </a>
      </li>
    </ul>
  </nav>

  <section class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
        *ngFor="let spec of specializations">
      <a class="card card-blurred" [routerLink]="[spec.flat_name]">
        <div class="card-picture small">
          <img class="card-img" [src]="spec.picture" [alt]="spec.name">
        </div>
        <div class="card-img-overlay">
          <h4 class="card-title">{{spec?.name}}</h4>
        </div>
      </a>
    </div>
  </section>
</layout-base>
