<layout-base pageTitle="Especializações">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light layout-toolbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <span class="nav-link text-light">
          <b>Categorias:</b>
        </span>
      </li>
      <li class="nav-item" [ngClass]="{active: isActiveTab('')}">
        <a class="nav-link pointer" (click)="setActiveTab('')">
          <i class="fa fa-th"></i> Todas
        </a>
      </li>
      <li class="nav-item"
          *ngFor="let charClass of characterClasses"
          [ngClass]="{active: isActiveTab(charClass.flat_name)}">
        <a class="nav-link pointer" (click)="setActiveTab(charClass.flat_name)">
          <i class="ra {{charClass.style}}"></i> {{charClass.name}}
        </a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item ml-1">
        <a class="nav-link text-light" [routerLink]="['new']">
          <i class="fa fa-plus-circle"></i>
          <span class="d-sm-none d-md-inline">Criar Especialização</span>
        </a>
      </li>
    </ul>
  </nav>

  <section class="row">
    <article class="col-sm-12 col-md-6 col-lg-4"
        *ngFor="let spec of filteredSpecializations">
      <specialization-card [specialization]="spec"></specialization-card>
    </article>
  </section>
</layout-base>
