<div class="card">
  <div class="card-header">
    <p class="card-title">Pontuações</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="character-hit-points">Vida</label>
          <input class="form-control form-control-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="character-hit-points">Magia</label>
          <input class="form-control form-control-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="character-hit-points">Sanidade</label>
          <input class="form-control form-control-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
    </div>
  </div>
</div>
