<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pontuações</h3>
  </div>
  <div class="panel-body">
    <div class="row-fluid">
      <div class="col-xs-3">
        <div class="form-group">
          <label for="character-hit-points">Vida</label>
          <input class="form-control input-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label for="character-hit-points">Magia</label>
          <input class="form-control input-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label for="character-hit-points">Sanidade</label>
          <input class="form-control input-sm" type="number"
            id="character-hit-points">
        </div>
      </div>
    </div>
  </div>
</div>
