.nav-pills { margin-bottom: 10px; }

.floating-buttons {
  bottom: 10px;
  max-width: 120px;
  position: fixed;
  right: 10px;
  z-index: 9999;
}


.edit-link {
  position: absolute;
  right: 10px;
  top: -16px;
  z-index: 2000;
}

/deep/ .subnav {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 1em;
  // margin-left: -1em;
  // margin-right: -1em;
}
