<layout-base *ngIf="campaign" [pageTitle]="campaign.title"
    [cover]="campaign.picture" [description]="campaign.description">

  <nav class="navbar navbar-expand-sm navbar-light bg-light layout-toolbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['journals']">
          <i class="fa fa-book"></i>
          <span class="d-sm-none d-md-inline">Diários de Campanha</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['notes']">
          <i class="fa fa-sticky-note"></i>
          <span class="d-sm-none d-md-inline">Anotações</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['maps']">
          <i class="fa fa-map"></i>
          <span class="d-sm-none d-md-inline">Mapas</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['characters']">
          <i class="fa fa-group"></i>
          <span class="d-sm-none d-md-inline">Personagens</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['wiki']">
          <i class="fa fa-wikipedia-w"></i>
          <span class="d-sm-none d-md-inline">Wiki</span>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav my-2 my-lg-0" *ngIf="!isCampaignOwner()">
      <li class="nav-item">
        <a class="nav-link"
            [routerLink]="['/users/profile', campaign?.dungeonMaster?.id]">
          <b>Narrador:</b> {{campaign?.dungeonMaster?.name}}
        </a>
      </li>
    </ul>

    <ul class="navbar-nav my-2 my-lg-0" *ngIf="isCampaignOwner()">
      <li class="nav-item ml-1">
        <a class="nav-link text-dark" [routerLink]="['edit']">
          <i class="fa fa-edit"></i>
          <span class="d-sm-none d-md-inline">Editar Campanha</span>
        </a>
      </li>
      <!-- <li class="nav-item ml-1">
        <a class="nav-link btn-light text-dark" href="#">
          <i class="fa fa-check-circle"></i>
          <span class="d-sm-none d-md-inline">Encerrar</span>
        </a>
      </li> -->
    </ul>
  </nav>

  <section>
    <router-outlet></router-outlet>
  </section>
</layout-base>
