<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Jogada de Proteção</h3>
  </div>
  <div class="panel-body">
    <div class="row-fluid">
      <div class="col-xs-3">
        <div class="form-group">
          <label for="character-hit-points">Base</label>
          <input class="form-control input-sm" type="text"
            id="character-hit-points" value="10"
            readonly>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label for="character-hit-points">Destreza</label>
          <input class="form-control input-sm" type="text"
            id="character-hit-points"
            readonly>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label for="character-hit-points">Constituição</label>
          <input class="form-control input-sm" type="text"
            id="character-hit-points"
            readonly>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <label for="character-hit-points">Sabedoria</label>
          <input class="form-control input-sm" type="text"
            id="character-hit-points"
            readonly>
        </div>
      </div>
    </div>
  </div>
</div>
