// parchment 3.3.7
// Bootswatch
// -----------------------------------------------------

$web-font-path: "https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i" !default;
@import url($web-font-path);

// Navbar =====================================================================

.parchment {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar {
  .nav > li > a {
    @extend .parchment;
  }
  .navbar-brand {
    height: 50px;
  }

  &-form {
    padding: 0px 15px;
    margin-top: 6px;
    margin-bottom: 6px;

    input,
    .form-control {
      height: 43px;
      border: none;
    }
  }

  &-default {
    border-bottom: 2px ridge #dea81c;
  }
}

// Buttons ====================================================================

.btn {
  border: 2px ridge #dea81c;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, .2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  @extend .parchment;

  &[type="submit"] {font-weight: bold;}

  &:hover {
    border-color: #dfa100;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, .2);
  }

  &:focus, &:active {
    border-color: #dea81c;
    box-shadow: inset 0 0 10px 5px rgba(233, 161, 0, .1);
  }

  &-minimal {
    background-color: transparent;
    border-color: transparent;
    box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, .05);
    color: $gray-dark;
  }

  &-outline {
    background-color: transparent;
    color: $gray-dark;
  }

  &-lg {
    line-height: 26px;
  }

  &-link {
    background: none;
    box-shadow: none;
    text-shadow: none;
    border: none;

    &:active,
    &:focus,
    &:hover {
      background: none;
      box-shadow: none;
      text-shadow: none;
      border: none;
    }
  }

  &-default {
    &:hover {
      background-color: $gray-dark;
    }
  }

  &-group {
    & > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
      border-right: none;
    }
    & > .btn + .dropdown-toggle {
      border-left: 1px ridge rgba(233, 161, 0, .3);
    }
  }
}

// Labels =====================================================================

.label {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

input,
.form-control {
  border: 2px ridge #dea81c;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.15);

  &:focus {
    border-color: $input-border;
    box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.1),
      0 1px 10px 1px rgba(0, 0, 0, 0.25);
  }
}

// Navs =======================================================================

.nav {
  @extend .parchment;

  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: $gray-light;
  }
}

.nav-tabs {

  & > li > a {
    background-color: $gray-lighter;
    border-color: $nav-tabs-border-color;
    color: $gray-dark;
  }

  > li.disabled > a:hover {
    background-color: $gray-lighter;
  }
}

.nav-pills {
  a {
    color: $gray-dark;
  }

  li > a {
    border: 1px solid transparent;
  }

  li.active > a {
    color: $gray-dark;
  }
  li.active > a,
  li > a:hover {
    border-color: $gray-light;
  }

  li.disabled > a {
    border-color: transparent;
  }
}

.breadcrumb {
  color: $gray-dark;
  @extend .parchment;

  border: 1px solid $gray-light;

  a {
    color: $gray-darker;
  }
}

.pagination {
  @extend .parchment;
}

.pager {
  @extend .parchment;

  li > a {
    color: $gray;
  }
}

.dropdown-menu {
  & > li > a {
    @extend .parchment;
  }
}

// Indicators =================================================================

.alert {
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, .20);
  a,
  .alert-link {
    color: #fff;
  }
}

.tooltip {
  @extend .parchment;
}

// Progress bars ==============================================================

.progress {
  border-radius: 10px;
  background-color: $gray-light;
  @include box-shadow(none);

  &-bar {
    @include box-shadow(none);
  }
}

// Containers =================================================================

.list-group {
  &-item {
    padding: 16px 24px;
  }
}

.well,
.jumbotron {
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, .25);
}

.jumbotron {
  border: 3px ridge #dea81c;
}

.page-header {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline;
  }
}

.panel {
  @include box-shadow(none);

  .panel-heading,
  .panel-title {
    @extend .parchment;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  }

  .panel-heading,
  .panel-footer {
    box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, .15);
  }

  .panel-footer {
    @extend .parchment;
  }

  &-default {
    .panel-heading,
    .panel-title {
      color: $gray-lighter;
      font-weight: bold;
    }

    .panel-footer {
      color: $gray-dark;
    }
  }
}

.title {
  border-bottom: 1px solid $gray-light;
  margin-left: -15px;
  margin-right: -15px;
}
