textarea.form-control {
  height: auto;
  max-height: auto;
  background-color: #fff;
  border-radius: 4px;
  max-width: 100%;
}

/* -------------------------------------------------------------------------- */
/* STICKY-NOTE */
.sticky-note {
  margin-bottom: 1em;
  float: left;
  width: 100%;
  padding: 1.5em;
}

.sticky-note {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  padding: 1em;
  -moz-box-shadow: 2px 2px 5px rgba(33, 33, 33, .7);
  -webkit-box-shadow: 2px 2px 5px rgba(33, 33, 33, .7);
  box-shadow: 2px 2px 5px rgba(33, 33, 33, .7);
  -moz-transition: -moz-transform .15s linear;
  -o-transition: -o-transform .15s linear;
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

.sticky-note:hover,
.sticky-note:focus {
  box-shadow: 5px 5px 5px rgba(33, 33, 33, .7);
  -moz-box-shadow: 5px 5px 5px rgba(33, 33, 33, .7);
  -webkit-box-shadow:  5px 5px 5px rgba(33, 33, 33, .7);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  padding: 0.8em;
  position: relative;
  z-index: 5;
}

.sticky-note small { font-size: 70%; }

.sticky-note h2 {
  font-size: 140%;
  font-weight: bold;
  padding-bottom: 10px;
}

.sticky-notes { padding: 1em; }

.sticky-notes .sticky-note:nth-child(even) a {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #cfc;
}

.sticky-notes .sticky-note:nth-child(3n) a {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #ccf;
}

.sticky-notes .sticky-note:nth-child(5n) a {
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: -10px;
}
