<fieldset class="campaign-maps" [formGroup]="campaignForm">
  <h4 class="title">Mapas</h4>

  <div class="row" formArrayName="maps">
    <div class="col-sm-6 col-md-6"
        *ngFor="let map of maps; let idx=index">
      <campaign-form-map [map]="map"
        [maps]="campaignForm.controls.maps"
        (removeMap)="removeMap($event)"></campaign-form-map>
    </div>
  </div>

  <div class="d-flex justify-content-start">
    <button class="btn btn-outline-primary btn-sm" type="button"
        (click)="addMap()">
      <i class="fa fa-plus-circle"></i> Adicionar mapa
    </button>
  </div>
</fieldset>
