<div class="row">
  <div class="col-sm-12">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" [routerLink]="['/main/characters']">
        <b>Personagens</b>
      </a>
      <span class="breadcrumb-item active">Classes</span>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3 class="title">Classes</h3>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let class of classes">
    <a class="card card-blurred" [routerLink]="['details', class.id]">
      <div class="card-picture-top small">
        <img class="card-img-top" [src]="class.picture"
          [alt]="class.name">
      </div>
      <div class="card-body">
        <h4 class="card-title">{{class?.name}}</h4>
      </div>
    </a>
  </div>
</div>
