<layout-base pageTitle="Classes">
  <div class="row">
    <div class="col-12"
        *ngFor="let class of classes">
      <a class="card card-blurred" [routerLink]="[class.flat_name]">
        <img class="card-img" [src]="class.picture" [alt]="class.name">
        <div class="card-img-overlay card-dark-overlay">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 image">
              <img class="img-thumbnail" [src]="class.picture"
                [alt]="class.name">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-9">
              <h4 class="card-title">{{class?.name}}</h4>
              <p class="card-text">{{class?.short_description}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</layout-base>
