<div class="panel panel-default journal-form" [formGroup]="journalForm">
  <div class="panel-body">
    <div class="form-group">
      <label for="childField1">Título</label>
      <input type="text" class="form-control ninja-input"
        formControlName="title">
    </div>
    <div class="form-group">
        <textarea class="form-control ninja-input"
          formControlName="description"></textarea>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-danger btn-xs" type="button" (click)="remove()">
      <glyph icon="remove-sign"></glyph> Remover
    </button>
  </div>
</div>
