$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import "assets/_variables.scss";
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "assets/style-bootstrap.scss";
@import "assets/_bootswatch.scss";

/* You can add global styles to this file, and also import other style files */
body { background-color: #FBF4E8; }

.content { margin-top: 70px; }

.page-header { margin: 10px 0; }

.page-header h1 {  margin: 0px; }

.pointer { cursor: pointer; }

/* */
@mixin ninja-input {
  background-color: transparent;
  border: 1px dotted rgba(0, 0, 0, .3);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px;
}

@mixin ninja-input-focused {
  background-color: #fff;
  border: 1px dotted rgba(0, 0, 0, .5);
  border-radius: 4px;
}

@mixin ninja-input-inactivated {
  background-color: #fff;
  border: 1px dotted rgba(0, 0, 0, .5);
  border-radius: 4px;
}

// fieldset {
//
//   &[disabled] {
//     @include ninja-input-inactivated();
//   }
//
//   &:not([disabled]) {
//     .form-control.ninja-input {
//       @include ninja-input();
//
//       &:focus {
//         @include ninja-input-focused();
//       }
//     }
//   }
// }

fieldset:not([disabled]) .form-control.ninja-input,
.form-control.ninja-input:not([readonly]) {
  background-color: transparent;
  border: 1px dotted rgba(0, 0, 0, .3);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px;
}

fieldset:not([disabled]) .form-control.ninja-input:focus,
.form-control.ninja-input:focus:not([readonly]) {
  background-color: #fff;
  border: 1px dotted rgba(0, 0, 0, .5);
  border-radius: 4px;
}

fieldset:not([disabled]) .ninja-input.panel-title:focus,
.ninja-input.panel-title:focus:not([readonly]) {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: $gray-darker;
}

fieldset[disabled] .form-control.ninja-input,
.form-control[readonly].ninja-input {
  background-color: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px;
}

.panel-body .form-group {
  max-height: 100%;
  max-width: 100%;
}

.panel-body .form-group textarea {
  max-height: 100%;
  max-width: 100%;
}
