$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "assets/_variables.scss";
// @import "assets/style-bootstrap.scss";
@import "assets/_bootswatch.scss";

/* You can add global styles to this file, and also import other style files */
// body { background-color: #FBF4E8; }

.content { margin-top: 70px; }

.page-header { margin: 10px 0; }

.page-header h1 {  margin: 0px; }

.pointer { cursor: pointer; }
//
// /* */
// @mixin ninja-input {
//   background-color: transparent;
//   border: 1px dotted rgba(0, 0, 0, .3);
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
//   padding: 5px;
// }
//
// @mixin ninja-input-focused {
//   background-color: #fff;
//   border: 1px dotted rgba(0, 0, 0, .5);
//   border-radius: 4px;
// }
//
// @mixin ninja-input-inactivated {
//   background-color: #fff;
//   border: 1px dotted rgba(0, 0, 0, .5);
//   border-radius: 4px;
// }
//
// // fieldset {
// //
// //   &[disabled] {
// //     @include ninja-input-inactivated();
// //   }
// //
// //   &:not([disabled]) {
// //     .form-control.ninja-input {
// //       @include ninja-input();
// //
// //       &:focus {
// //         @include ninja-input-focused();
// //       }
// //     }
// //   }
// // }
//
// fieldset:not([disabled]) .form-control.ninja-input,
// .form-control.ninja-input:not([readonly]) {
//   background-color: transparent;
//   border: 1px dotted rgba(0, 0, 0, .3);
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
//   padding: 5px;
// }
//
// fieldset:not([disabled]) .form-control.ninja-input:focus,
// .form-control.ninja-input:focus:not([readonly]) {
//   background-color: #fff;
//   border: 1px dotted rgba(0, 0, 0, .5);
//   border-radius: 4px;
// }
//
// fieldset:not([disabled]) .ninja-input.panel-title:focus,
// .ninja-input.panel-title:focus:not([readonly]) {
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
//   color: $gray-darker;
// }
//
// fieldset[disabled] .form-control.ninja-input,
// .form-control[readonly].ninja-input {
//   background-color: transparent;
//   border: 1px solid transparent;
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
//   padding: 5px;
// }
//
// .panel-body .form-group {
//   max-height: 100%;
//   max-width: 100%;
// }
//
// .panel-body .form-group textarea {
//   max-height: 100%;
//   max-width: 100%;
// }
//
//
// .note {
//   background: #ffc;
//   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), 1px 1px 1px rgba(0,0,0,0.2);
//   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), 1px 1px 1px rgba(0,0,0,0.2);
//   box-shadow: 0 1px 1px rgba(0,0,0,0.3), 1px 1px 1px rgba(0,0,0,0.2);
//   color: #333;
//   margin-bottom: 2em;
//   overflow: hidden;
//   padding: 1em 1.5em;
//   position: relative;
//   width: 100%;
// }
//
// .note small {
//   border-top: 1px solid #333;
//   display: block;
//   margin-top: 5px;
//   padding: 3px;
//   text-align: right;
// }
//
// .note textarea {
//   max-width: 100%;
//   min-width: 100%;
// }
//
// .note.folded:before {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   border-width: 0 16px 16px 0;
//   border-style: solid;
//   border-color: #fff #fff #658E15 #658E15;
//   background: #ffc;
//   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
//   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
//   box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
//   /* Firefox 3.0 damage limitation */
//   display: block; width: 0;
// }
//
// .note.rounded {
//   -moz-border-radius: 5px 0 5px 5px;
//   border-radius: 5px 0 5px 5px;
// }
//
// .note.rounded.folded:before {
//   border-width: 8px;
//   border-color: #fff #fff transparent transparent;
//   -moz-border-radius: 0 0 0 5px;
//   border-radius: 0 0 0 5px;
// }
//
//
// /* CHARACTER BLOCK STYLES */
// $character-avatar-size: 48px;
// $character-info-size: calc(100% - $character-avatar-size);
//
// .character {
//   background-color: $gray-lighter;
//   border-radius: 4px;
//   box-shadow: 0px 1px 5px rgba(0,0,0,.2);
//   display: table;
//   float: left;
//   margin: 5px 0;
//   padding: 10px;
//   width: 100%;
//
//   .character-avatar {
//     display:table-cell;
//     vertical-align: top;
//     width: $character-avatar-size;
//
//     > img {
//       float: left;
//       height: $character-avatar-size;
//       margin: 0;
//       max-height: $character-avatar-size;
//       max-width: $character-avatar-size;
//       min-height: $character-avatar-size;
//       min-width: $character-avatar-size;
//       padding: 0;
//       width: $character-avatar-size;
//     }
//   }
//
//   .character-info {
//     display: table-cell;
//     float: left;
//     max-width: $character-info-size;
//     padding: 0 10px;
//     width: auto;
//
//     .character-class,
//     .character-name,
//     .character-race {
//       float: left;
//       margin: 0;
//       width: 100%;
//     }
//
//     .character-name .character-level {
//       background-color: #fff;
//       border-radius: 50%;
//       box-shadow: 0px 1px 2px rgba(0,0,0,.2);
//       color: $gray-darker;
//       float: right;
//       padding: 2px 5px;
//     }
//
//     .character-class,
//     .character-race {
//       font-size: 85%;
//     }
//   }
// }
//
// .character-card {
//   background: #f0f0f0;
//   border-radius: 4px;
//   box-shadow: 0 1px 3px #aaa;
//   display: block;
//   margin-bottom: $default-margin;
//   overflow: hidden;
//   position: relative;
//   text-decoration: none;
//
//   .header {
//     padding: 0.5em;
//     background: white;
//
//     .avatar {
//       display: inline-block;
//       vertical-align: middle;
//       padding: 0 0.2em;
//
//       > img {
//         width: 70px;
//         height: 70px;
//         background: #f0f0f0;
//         padding: 2px;
//         border: 1px solid #aaa;
//         border-radius: 50%;
//       }
//     }
//
//     .body {
//       display: inline-block;
//       vertical-align: middle;
//       padding: 0 0.2em;
//       line-height: 1.2;
//     }
//   }
//
//   .name {
//     color: #333;
//     font-family: 'MedievalSharp', cursive;
//     font-weight: bold;
//     text-decoration: none;
//   }
//
//   .title {
//     color: #888;
//     display: block;
//     font-size: 70%;
//     font-weight: normal;
//     font-style: italic;
//   }
//
//   .infos {
//     padding: 0;
//     border-top: 1px solid #ccc;
//     margin: 0;
//     color: #555;
//     font-size: 70%;
//     list-style: none;
//
//     > li {
//       padding: 0.5em;
//     }
//
//     > li + li {
//       border-top: 1px solid #ccc;
//     }
//   }
// }
//
// .lawfull {
//   .title {
//       color: #006EC8;
//   }
//
//   .avatar > img {
//       background: #008CFF;
//   }
// }
//
// .chaotic {
//   .title {
//       color: #D1371B;
//   }
//
//   .avatar > img {
//       background: #D1371B;
//   }
// }
