<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Movimento</h3>
  </div>
  <div class="panel-body">
    <div class="row-fluid">
      <div class="col-xs-2">
        <div class="form-group">
          <label for="character-hit-points">Raça</label>
          <input class="form-control input-sm" type="text"
            id="character-hit-points" value="10"
            readonly>
        </div>
      </div>
      <div class="col-xs-1 text-center">-</div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="character-hit-points">Armadura</label>
          <input class="form-control input-sm" type="text"
            id="character-hit-points"
            readonly>
        </div>
      </div>
      <div class="col-xs-1 text-center">-</div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="character-hit-points">Carga</label>
          <input class="form-control input-sm" type="text"
            id="character-hit-points"
            readonly>
        </div>
      </div>
      <div class="col-xs-1 text-center">=</div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="character-hit-points">Total</label>
          <input class="form-control input-sm" type="text"
            id="character-hit-points"
            readonly>
        </div>
      </div>
    </div>
  </div>
</div>
