<layout-base *ngIf="characterClass"
    [pageTitle]="characterClass.name"
    [cover]="characterClass.picture"
    [animatedHeader]="true">

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark layout-toolbar">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link pointer"
            [ngClass]="isActiveClass(0)" (click)="setActiveTab(0)">
          <i class="ra ra-scroll-unfurled"></i>
          <span class="d-sm-none d-md-inline">Informações</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link pointer"
            [ngClass]="isActiveClass(1)" (click)="setActiveTab(1)">
          <i class="fa fa-line-chart"></i>
          <span class="d-sm-none d-md-inline">Evolução</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link pointer"
            [ngClass]="isActiveClass(2)" (click)="setActiveTab(2)">
          <i class="ra ra-hood"></i>
          <span class="d-sm-none d-md-inline">Talentos Ladinos</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="characterClass.undead_banes">
        <a class="nav-link pointer"
            [ngClass]="isActiveClass(3)" (click)="setActiveTab(3)">
          <i class="ra ra-broken-skull"></i>
          <span class="d-sm-none d-md-inline">Afastar Mortos-vivos</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="characterClass.magic_circles">
        <a class="nav-link pointer"
            [ngClass]="isActiveClass(4)" (click)="setActiveTab(4)">
          <i class="ra ra-burning-embers"></i>
          <span class="d-sm-none d-md-inline">Magias</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link pointer"
            [ngClass]="isActiveClass(5)" (click)="setActiveTab(5)">
          <i class="ra ra-jigsaw-piece"></i>
          <span class="d-sm-none d-md-inline">Especializações</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </nav>

  <section *ngIf="isActiveTab(0)">
    <class-info [characterClass]="characterClass"></class-info>
  </section>

  <section *ngIf="isActiveTab(1)">
    <class-mods [characterClass]="characterClass"></class-mods>
  </section>

  <section *ngIf="isActiveTab(2)">
    <class-thief-talents [characterClass]="characterClass"></class-thief-talents>
  </section>

  <section *ngIf="isActiveTab(3)">
    <class-undead-banes [characterClass]="characterClass"></class-undead-banes>
  </section>

  <section *ngIf="isActiveTab(4)">
    <class-magic-circles [characterClass]="characterClass"></class-magic-circles>
  </section>

  <section *ngIf="isActiveTab(5)">
    <class-specializations [characterClass]="characterClass"></class-specializations>
  </section>

  <section>
    <h2>Exemplos de {{ characterClass.name }}</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li [ngClass]="{'active': isActivePicture(0)}"></li>
        <li [ngClass]="{'active': isActivePicture(1)}"></li>
        <li [ngClass]="{'active': isActivePicture(2)}"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{'active': isActivePicture(0)}">
          <img class="d-block w-100" src="http://fakeimg.pl/1280x720/333/000?text={{ characterClass.name }}" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Vermelho</h5>
            <p>A cor da paixão</p>
          </div>
        </div>
        <div class="carousel-item" [ngClass]="{'active': isActivePicture(1)}">
          <img class="d-block w-100" src="http://fakeimg.pl/1280x720/444/000?text={{ characterClass.name }}" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Verde</h5>
            <p>A cor da esperança</p>
          </div>
        </div>
        <div class="carousel-item" [ngClass]="{'active': isActivePicture(2)}">
          <img class="d-block w-100" src="http://fakeimg.pl/1280x720/555/000?text={{ characterClass.name }}" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Azul</h5>
            <p>A cor do céu</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" role="button" (click)="previousPicture()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" role="button" (click)="nextPicture()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
</layout-base>
