<layout-base *ngIf="campaign" [pageTitle]="campaign.title"
    [cover]="campaign.picture" [description]="campaign.description">

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light layout-toolbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['pages']">
          <i class="ra ra-scroll-unfurled"></i>
          <span class="d-sm-none d-md-inline">Informações</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['characters']">
          <i class="ra ra-double-team"></i>
          <span class="d-sm-none d-md-inline">Personagens</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav my-2 my-lg-0" *ngIf="!isCampaignOwner()">
      <li class="nav-item">
        <a class="nav-link"
            [routerLink]="['/users/profile', campaign?.dungeonMaster?.id]">
          <b>Narrador:</b> {{campaign?.dungeonMaster?.name}}
        </a>
      </li>
    </ul>

    <ul class="navbar-nav my-2 my-lg-0" *ngIf="isCampaignOwner()">
      <li class="nav-item ml-1">
        <a class="nav-link text-light" [routerLink]="['edit']">
          <i class="fa fa-edit"></i>
          <span class="d-sm-none d-md-inline">Editar Campanha</span>
        </a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
  <!-- <section [@routerTransition]="page.activatedRouteData.state">
    <router-outlet #page="outlet"></router-outlet>
  </section> -->
</layout-base>
