<div class="card" *ngIf="character">
  <div class="card-body">
    <h5 class="card-title">Atributos</h5>
  </div>
  <div class="list-group list-group-flush">
    <div class="list-group-item" title="Força">
      <character-attribute title="Força"
        [value]="characterStrength"></character-attribute>
    </div>
    <div class="list-group-item" title="Destreza">
      <character-attribute title="Destreza"
        [value]="characterDexterity"></character-attribute>
    </div>
    <div class="list-group-item" title="Constituição">
      <character-attribute title="Constituição"
        [value]="characterConstitution"></character-attribute>
    </div>
    <div class="list-group-item" title="Inteligência">
      <character-attribute title="Inteligência"
        [value]="characterIntelligence"></character-attribute>
    </div>
    <div class="list-group-item" title="Sabedoria">
      <character-attribute title="Sabedoria"
        [value]="characterWisdom"></character-attribute>
    </div>
    <div class="list-group-item" title="Carisma">
      <character-attribute title="Carisma"
        [value]="characterCharisma"></character-attribute>
    </div>
  </div>
</div>
