<div class="card" *ngIf="character">
  <div class="card-body">
    <h5 class="card-title">Atributos</h5>
  </div>
  <div class="list-group list-group-flush">
    <p class="list-group-item d-flex justify-content-between"
        title="Força">
      <span><b>FOR</b> {{characterStrength?.value}}</span>
      <span>{{ getModifier(characterStrength?.value) }}</span>
    </p>
    <p class="list-group-item d-flex justify-content-between"
        title="Destreza">
      <span><b>DES</b> {{characterDexterity?.value}}</span>
      <span>{{ getModifier(characterDexterity?.value) }}</span>
    </p>
    <p class="list-group-item d-flex justify-content-between"
        title="Constituição">
      <span><b>CON</b> {{characterConstitution?.value}}</span>
      <span>{{ getModifier(characterConstitution?.value) }}</span>
    </p>
    <p class="list-group-item d-flex justify-content-between"
        title="Inteligência">
      <span><b>INT</b> {{characterIntelligence?.value}}</span>
      <span>{{ getModifier(characterIntelligence?.value) }}</span>
    </p>
    <p class="list-group-item d-flex justify-content-between"
        title="Sabedoria">
      <span><b>SAB</b> {{characterWisdom?.value}}</span>
      <span>{{ getModifier(characterWisdom?.value) }}</span>
    </p>
    <p class="list-group-item d-flex justify-content-between"
        title="Carisma">
      <span><b>CAR</b> {{characterCharisma?.value}}</span>
      <span>{{ getModifier(characterCharisma?.value) }}</span>
    </p>
  </div>
</div>
