<layout-base *ngIf="campaign" [pageTitle]="wikiTitle">
  <nav class="navbar navbar-expand-sm navbar-light bg-secondary layout-toolbar">
    <ul class="navbar-nav mr-auto"></ul>

    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link text-primary" [routerLink]="['new']">
          <i class="fa fa-plus"></i>
          <span class="d-sm-none d-md-inline">Nova página</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="card-columns">
    <campaign-wiki-card *ngFor="let page of pages"
      [page]="page"></campaign-wiki-card>
  </div>
</layout-base>
