<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <app-message [message]="message"></app-message>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <h2 class="title">Entrar</h2>
    <form [formGroup]="loginForm" (submit)="authenticate()">
      <form-group [field]="loginForm.controls.loginEmail">
        <input class="form-control"
            id="loginEmail"
            formControlName="loginEmail"
            [(ngModel)]="user.email"
            type="email"
            placeholder="exemplo@teste.com">
      </form-group>

      <form-group [field]="loginForm.controls.loginPassword">
        <input class="form-control"
            id="loginPassword"
            formControlName="loginPassword"
            [(ngModel)]="user.password"
            type="password"
            placeholder="*******">
      </form-group>

      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit"
            [disabled]="!loginForm.valid">
          <i class="fa fa-sign-in"></i> Sign-in
        </button>
        <a class="btn btn-default btn-block"
            [routerLink]="['/users/registration']">
          <i class="fa fa-user-plus"></i> Sign-up
        </a>
      </div>
    </form>
  </div>
</div>
