<layout-base pageTitle="Acesse já o Old Dragon Manager!"
    cover="https://s-media-cache-ak0.pinimg.com/originals/d5/35/fd/d535fd18fc4a69c71fbbdc4017569216.jpg">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Entrar</h4>
          <app-message [message]="message"></app-message>
          <form [formGroup]="loginForm" (submit)="authenticate()">
            <form-group [field]="loginForm.controls.loginEmail">
              <label for="loginEmail">E-mail</label>
              <input class="form-control"
                  id="loginEmail"
                  formControlName="loginEmail"
                  [(ngModel)]="user.email"
                  type="email"
                  placeholder="exemplo@teste.com">
            </form-group>

            <form-group [field]="loginForm.controls.loginPassword">
              <label for="loginPassword">Senha</label>
              <input class="form-control"
                  id="loginPassword"
                  formControlName="loginPassword"
                  [(ngModel)]="user.password"
                  type="password"
                  placeholder="*******">
            </form-group>

            <div class="form-group">
              <button class="btn btn-primary btn-custom btn-block" type="submit"
                  [disabled]="!loginForm.valid">
                <i class="fa fa-sign-in"></i> Entrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="card">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h4 class="card-title">Ainda não tem cadastro no ODM?! Não perca tempo!</h4>
          <h5>Ao criar sua conta, você poderá:</h5>
          <ul>
            <li>Gerenciar suas campanhas</li>
            <li>Criar e admistrar personagens</li>
            <li>Consultar regras e muito mais!</li>
          </ul>
          <a class="btn btn-secondary btn-custom"
            [routerLink]="['/users/registration']">
            <i class="fa fa-user-plus"></i> Vou criar uma conta agora!
          </a>
        </div>
      </div>
    </div>
  </div>
</layout-base>
