<div class="card" [formGroup]="noteForm">
  <div class="card-body">
    <div class="form-group">
      <label class="col-form-label">Descrição</label>
      <textarea class="form-control card-text"
        rows="4"
        formControlName="description"></textarea>
    </div>

    <div class="d-flex justify-content-between">
      <label class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox"
            formControlName="dm_only">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Material do Mestre</span>
      </label>
      <button class="btn btn-minimal-danger" type="button" (click)="remove()">
        <i class="fa fa-trash-o"></i> Remover
      </button>
    </div>
  </div>
</div>
