.card-picture,
.card-picture-top {
  height: 200px;
  max-height: 200px;
}

.card-img-overlay {

  .card-text {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }

  &:hover {
    .card-text {
      visibility: visible;
      opacity: 1;
    }
  }
}
