<layout-base pageTitle="Personagens">
  <section class="card-deck">
    <a class="card feature-link" [routerLink]="[link.route]"
        *ngFor="let link of links">
      <img class="card-img" [src]="link.picture" alt="link.title">
      <div class="card-img-overlay d-flex justify-content-end flex-column">
        <h3 class="card-title">{{link.title}}</h3>
        <p class="card-text">{{link.description}}</p>
      </div>
    </a>
  </section>

  <section>
    <article>
      <characters-list></characters-list>
    </article>
  </section>
</layout-base>
