<section>
  <article class="card">
    <div class="card-header">
      <h4 class="card-title">Características</h4>
    </div>
    <div class="card-body">
      <p class="card-text">Atingem a maturidade aos {{characterRace.maturity}}
        anos.</p>
      <p class="card-text">Tendem a viver até {{characterRace.max_age}} anos</p>
      <p class="card-text">Em média, sua altura varia entre
        {{characterRace.min_height}} e {{characterRace.max_height}} metros</p>
      <p class="card-text">Seu peso médio varia entre
        {{characterRace.min_weight}} kg e {{characterRace.max_weight}} kg</p>
      <p class="card-text">A movimentação base é {{characterRace.movement_base}}
        metros</p>
    </div>
  </article>

  <article class="card">
    <div class="card-header">
      <h4 class="card-title">Modificadores</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between"
          *ngIf="characterRace.str_mod != 0">
        <span>Força</span>
        <span>{{characterRace.str_mod}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between"
          *ngIf="characterRace.dex_mod != 0">
        <span>Destreza</span>
        <span>{{characterRace.dex_mod}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between"
          *ngIf="characterRace.cons_mod != 0">
        <span>Constituição</span>
        <span>{{characterRace.cons_mod}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between"
          *ngIf="characterRace.int_mod != 0">
        <span>Inteligência</span>
        <span>{{characterRace.int_mod}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between"
          *ngIf="characterRace.wis_mod != 0">
        <span>Sabedoria</span>
        <span>{{characterRace.wis_mod}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between"
          *ngIf="characterRace.char_mod != 0">
        <span>Carisma</span>
        <span>{{characterRace.char_mod}}</span>
      </li>
      <li class="list-group-item" *ngIf="characterRace.versatile_mod">
        O jogador pode escolher os atributos. +2 em um atributo e -2 em outro.
      </li>
    </ul>
  </article>
</section>
