<p>{{invitation.message}}</p>
<form class="form-inline">
  <label class="mr-sm-2" for="userCharacter">Personagem</label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="userCharacter">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>

  <button class="btn btn-primary mr-sm-2" type="button" (click)="acceptInvitation()">
    <i class="fa fa-check"></i> Aceitar
  </button>
  <button class="btn btn-danger mr-sm-2" type="button" (click)="denyInvitation()">
    <i class="fa fa-ban"></i> Recusar
  </button>
</form>
