<div class="card card-blurred">
  <img class="card-img-top" [src]="characterClass.picture"
    [alt]="characterClass.name">

  <div class="card-body">
    <p class="card-text description">"{{characterClass.description}}"</p>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <b>Usuário de magia?</b>
        {{boolFormat(characterClass?.type, 'can_use_magic')}}
      </div>
      <div class="col-sm-12">
        <b>Pode Banir Mortos-vivos?</b>
        {{boolFormat(characterClass?.type, 'can_bane_undead')}}
      </div>
      <div class="col-sm-12">
        <b>Possui talentos ladinos?</b>
        {{boolFormat(characterClass?.type, 'has_thief_talents')}}
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">Requerimentos mínimos</div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <b>FOR</b>: {{characterClass?.requirement?.str_mod}}
      </div>
      <div class="col-sm-4">
        <b>DES</b>: {{characterClass?.requirement?.dex_mod}}
      </div>
      <div class="col-sm-4">
        <b>CON</b>: {{characterClass?.requirement?.cons_mod}}
      </div>
      <div class="col-sm-4">
        <b>INT</b>: {{characterClass?.requirement?.int_mod}}
      </div>
      <div class="col-sm-4">
        <b>SAB</b>: {{characterClass?.requirement?.wis_mod}}
      </div>
      <div class="col-sm-4">
        <b>CAR</b>: {{characterClass?.requirement?.char_mod}}
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <p class="card-title">Especializações</p>
  </div>

  <div class="list-group">
    <a class="list-group-item"
        *ngFor="let specialization of characterClass.specializations">
      {{specialization.name}}
    </a>
  </div>
</div>
